



{% extends "base_en.html" %}

{% block title %}UZFI  | Financial statements{% endblock %}

{% block content %}

{% load static %}

<div class="page-content">
    <!-- Page Heading Box ==== -->
    <div class="page-banner ovbl-dark" style="background-image:url({% static "assets/images/documents.jpg" %});">
        <div class="container">
            <div class="page-banner-entry">
                <h1 class="text-white">Financial statements</h1>
            </div>
        </div>
    </div>

    <!-- Page Heading Box END ==== -->


    <!-- Page Content Box ==== -->
    <div class="content-block">

        <!-- FAQS  News -->
        <div class="section-area section-sp2">
            <div class="container">


                <table class="table" id="documents">
                    <thead>
                        <tr>
                            <th class="table-info" scope="col">#</th>
                            <th class="table-info" scope="col">Report type</th>
                            <th class="table-info" scope="col">Date</th>
                            <th class="table-info" scope="col">Quarter</th>
                            <th class="table-info" scope="col">Download</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in data %}
                        <tr>
                            <th scope="row">{{i.id}}</th>
                            <td>{{i.data.report_type_en}}</td>
                            <td></td>
                            <td>{{i.data.quarter_en}}</td>
                            <td><a target='_blank' href={{i.data.pdf_file}}><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                            </svg></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>


            </div>
        </div>
        <!-- FAQS  News End -->


    </div>
    <!-- Page Content Box END ==== -->

</div>


{% endblock %}