<li>
  <a
    target="__blank"
    href="https://www.facebook.com/UzFi.education/"
    class="btn-link"
    ><i class="fa fa-facebook"></i
  ></a>
</li>
<a
  target="__blank"
  href="https://www.youtube.com/@uzfi.education619"
  class="btn-link"
  ><i class="fa fa-youtube-play"></i
></a>
<li>
  <a target="__blank" href="https://t.me/UzFiPI" class="btn-link"
    ><i class="fa fa-telegram"></i
  ></a>
</li>
<li>
  <a
    target="__blank"
    href="https://www.instagram.com/uzfi_education/"
    class="btn-link"
    ><i class="fa fa-instagram"></i
  ></a>
</li>
