


{% extends "base_ru.html" %}

{% block title %}UZFI  | Устав{% endblock %}

{% block content %}

{% load static %}

<div class="page-content">
    <!-- Page Heading Box ==== -->
    <div class="page-banner ovbl-dark" style="background-image:url({% static 'assets/images/charter.jpg' %});">
        <div class="container">
            <div class="page-banner-entry">
                <h1 class="text-white">Устав института</h1>
            </div>
        </div>
    </div>

    <!-- Page Heading Box END ==== -->


    <!-- Page Content Box ==== -->
    <div class="content-block">

        <!-- FAQS  News -->
        <div class="section-area section-sp2">
            <div class="container">

                <div class="heading-bx left">
                    <h2 class="m-b10 title-head">Устав <span></span></h2>
                </div>


                <div class="ttr-accordion m-b30 faq-bx" id="charter_accordion">



                    {% for i in data %}

                    <div class="panel">
                        <div class="acod-head">
                            <h6 class="acod-title">
                                <a data-toggle="collapse" href="#faq{{i.id}}" class="collapsed" data-parent="#faq{{i.id}}">
                                    {{ i.data.title_ru|safe }}
                                </a>
                            </h6>
                        </div>
                        <div id="faq{{i.id}}" class="acod-body collapse">
                            <div class="acod-content">
                                {{i.data.body_ru|safe}}
                            </div>
                        </div>
                    </div>
                    
                    {% endfor %}

                </div>


            </div>
        </div>
        <!-- FAQS  News End -->


        <!-- Our Story ==== -->
        <div class="section-area section-sp1 ">
            <div class="container">

            </div>
        </div>
        <!-- Our Story END ==== -->


    </div>
    <!-- Page Content Box END ==== -->

</div>

{% endblock %}