{% extends "base.html" %}
{% load i18n %}
{% block title %}{% blocktranslate %}UZFI  | Xalqaro memorandumlar{% endblocktranslate %}{% endblock %}


{% block content %}

{% load static %}

<div class="page-content">
    <div class="page-content">
        <div
        class="page-banner ovbl-dark"
        style="background-image: url({%static 'assets/images/645361781b285.jpg' %})"
      >
        <div class="container">
          <div class="page-banner-entry">
            <h1 class="text-white">{% blocktranslate %}Xalqaro memorandumlar{% endblocktranslate %}</h1>
          </div>
        </div>
      </div>
   

    <!-- Page Content Box ==== -->
    <div class="content-block">

        <!-- FAQS  News -->
        <div class="section-area section-sp2">
            <div class="container">               

            

            <div class="row">
          <!-- left part start -->
          <div class="col-lg-1 col-xl-1 col-md-1">
          </div>
          <div class="col-lg-12 col-xl-12 col-md-12 col-xs-12 col-sm-12">
            <!-- blog grid -->
            <div class="col-md-12">
              {% for i in page_obj %}
              
              <div class="col-md-12 councils-item  my-3 " style="border-style: groove;border-radius: 3px;" >
                      <div class="councils-item-title">
          
                          <ul >
                            <li style="display: inline-block;padding-left: 10px;"><a href="{{i.id}}/"><img src="{{i.img}}" style="width: 80px;height: 80px;"></a></li>
                            <li style="display: inline-block;padding-left: 10px;">|</li>
                              <li style="display: inline-block; "><a href="#home">  <a   href="{{i.id}}/">  <h5 style="font-size: 18px;margin-top: 40px;">{{i.title}}</h5></a></li>
          
          
                        
                         
                      </div>
              </div>
          
              {% endfor %}
          

          </div>
            <!-- blog grid END -->
            <!-- Pagination -->
            <div class="pagination-bx rounded-sm gray clearfix p-3">
              <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="previous"><a href="?page={{ page_obj.previous_page_number }}"><i class="ti-arrow-left"></i>{% blocktranslate %} Avvalgi{% endblocktranslate %}</a></li>
                    {% endif %}
    
                    {% for page in page_obj.paginator.page_range %}
                        <li class="{% if page_obj.number == page %}active{% endif %}"><a href="?page={{page}}">{{page}}</a></li>
                    {% endfor %}
    
                    {% if page_obj.has_next %}
                        <li class="previous"><a href="?page={{ page_obj.next_page_number }}"><i class="ti-arrow-right"></i>{% blocktranslate %} Keyingi{% endblocktranslate %}</a></li>
                    {% endif %}
                </ul>
            </div>
            
            <!-- Pagination END -->
          </div>
          <!-- left part END -->
          <!-- Side bar start -->
         
          <!-- Side bar END -->
        </div>
        </div>
        <!-- FAQS  News End -->


        </div>
    <!-- Page Content Box END ==== -->

</div>

{% endblock %}