{% extends "base.html" %}
{% load i18n %}
{% block title %} UZFI  | {% blocktranslate %}Tez-tez so'raladigan savollarga javoblar{% endblocktranslate%}{% endblock %}

{% block content %}
{% load static %}



<div class="page-content">
    <!-- Page Heading Box ==== -->
    <div class="page-banner ovbl-dark" style="background-image:url({% static 'assets/images/councils.jpg' %});">
        <div class="container">
            <div class="page-banner-entry">
                <h1 class="text-white">{% blocktranslate %} Tez-tez so'raladigan savollarga javoblar {% endblocktranslate %}</h1>
            </div>
        </div>
    </div>

    <!-- Page Heading Box END ==== -->


    <!-- Page Content Box ==== -->
    <div class="content-block">

        <!-- FAQS  News -->
        <div class="section-area section-sp2">
            <div class="container">
              <div class="heading-bx left">
                <h2 class="m-b10 title-head">{% blocktranslate %} Tez-tez so'raladigan savollarga {% endblocktranslate %} <span> {% blocktranslate %} javoblar {% endblocktranslate %}</span></h2>
              </div>
              <div class="ttr-accordion m-b30 faq-bx" id="accordion1">
                <div class="panel">
                  <div class="acod-head">
                    <h6 class="acod-title">
                      <a
                        data-toggle="collapse"
                        href="#faq1"
                        class="collapsed"
                        data-parent="#faq1"
                      >
                        {% blocktranslate %}O&acute;ZBEKISTON - Finlandiya pedagogika institutida o&acute;qish qaysi tillarda amalga oshiriladi?{% endblocktranslate %}
                      </a>
                    </h6>
                  </div>
                  <div id="faq1" class="acod-body collapse">
                    <div class="acod-content">
                      {% blocktranslate %}O&acute;ZBEKISTON - Finlandiya pedagogika institutida darslar o&acute;zbek, rus va tojik tillarida olib boriladi.{% endblocktranslate %}

                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="acod-head">
                    <h6 class="acod-title">
                      <a
                        data-toggle="collapse"
                        href="#faq2"
                        class="collapsed"
                        data-parent="#faq2"
                      >
                      {% blocktranslate %}O&acute;ZBEKISTON - Finlandiya pedagogika institutida yotoqxona bilan ta&acute;minlanishi qanday amalga oshiriladi?{% endblocktranslate %}</a
                      >
                    </h6>
                  </div>
                  <div id="faq2" class="acod-body collapse">
                    <div class="acod-content">
                      
                      {% blocktranslate %}Talabalikka qabul qilingandan so&acute;ng tegishli dekanatga yotoqxona talabnomasi bilan murojaat etiladi.{% endblocktranslate %}

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- FAQS  News End -->


        <!-- Our Story ==== -->
        <div class="section-area section-sp1 ">
            <div class="container">

            </div>
        </div>
        <!-- Our Story END ==== -->


    </div>
    <!-- Page Content Box END ==== -->

</div>


{% endblock %}