{% extends "base.html" %}{% load i18n %}

{% block title %}UZFI {% blocktranslate %} E'lonlar {% endblocktranslate %}{% endblock %}
{% block content %}

{% load static %}

<div class="page-content bg-white">
    <div class="page-banner ovbl-dark" style="background-image: url({% static 'assets/images/645361781b285.jpg' %}); background-size: cover; margin-bottom: 0;">
        <div class="container">
            <div class="page-banner-entry">
                <h1 class="text-white">{% blocktranslate %}E'lonlar{% endblocktranslate %}</h1>
            </div>
        </div>
    </div>
    
    <div class="content-block">
        <div class="section-area section-sp1">
            <div class="container">
                <div class="row">
                    <!-- Left part start -->
                    <div class="col-lg-12">
                        <!-- blog start -->
                        <div class="recent-news blog-lg">
                            <div class="info-bx">
                                <ul class="media-post">
                                    <li><i class="fa fa-calendar"></i> {{data.date_created}}</li>
                                    <li><i class="fa fa-eye"></i> {{data.views}}</li>
                                    <li><i class="fa fa-building"></i> {{data.place}}</li>
                                </ul>
                                <h5 class="post-title">{{data.event_name}}</h5>

                                <!-- Rasm uchun style -->
                                <div class="action-box" style="position: relative; overflow: hidden; width: 100%; max-width: 100%; height: auto;">
                                    <a href="/{{LANGUAGE_CODE}}/news/events/{{data.id}}">
                                        <img style="object-fit: contain; width: 100%; height: auto; max-height: 500px;" src="{{data.img}}" alt="{{data.event_name}}" />
                                    </a>
                                </div>

                                <p dir="auto">{{data.body|safe}}</p>
                                <div class="ttr-divider bg-gray"><i class="icon-dot c-square"></i></div>
                                
                                <h6>{% blocktranslate %}BIZ BILAN BO'LING {% endblocktranslate %}</h6>
                                <ul class="list-inline contact-social-bx">
                                    <li><a href="#" class="btn outline radius-xl"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="btn outline radius-xl"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="btn outline radius-xl"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#" class="btn outline radius-xl"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                                <div class="ttr-divider bg-gray"><i class="icon-dot c-square"></i></div>
                            </div>
                        </div>
                        <!-- blog END -->
                    </div>
                    <!-- Left part END -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
