


{% extends "base.html" %}

{% block title %}UZFI{% endblock %}
{% block trans %}{% endblock trans %}
{% block content %}

{% load static %}
{% load i18n %}

<div class="page-content bg-white">
    
    <div class="content-block">
        <div class="section-area section-sp1">
            <div class="container">
                <div class="row">
                    <!-- Left part start -->
                    <div class="col-lg-8 col-xl-8">

                        <h3>{{data.student_name}}</h3>

                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img class="d-block w-100" src="{{data.img}}" alt="First slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-100" src="{{data.img2}}" alt="Second slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-100" src="{{data.img3}}" alt="Third slide">
                              </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>

                        <!-- blog start -->
                        <div class="recent-news blog-lg">
                            <div class="info-bx">
                                <ul class="media-post">
                                    <li><i class="fa fa-calendar"></i> {{data.date_created}}</li>
                                    <li><i class="fa fa-eye"></i> {{data.views}}</li>
                                </ul>
                                <h5 class="post-title">{{data.title}}</h5>
                                {{data.body|safe}}
                                <div class="ttr-divider bg-gray"><i class="icon-dot c-square"></i></div>
                                    <h6>BIZ BILAN BO'LING </h6>
                                    <ul class="list-inline contact-social-bx">
                                        <li><a href="#" class="btn outline radius-xl"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#" class="btn outline radius-xl"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#" class="btn outline radius-xl"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#" class="btn outline radius-xl"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                <div class="ttr-divider bg-gray"><i class="icon-dot c-square"></i></div>
                            </div>
                        </div>
                        <!-- blog END -->
                    </div>
                    <!-- Left part END -->
                    <!-- Side bar start -->
                    <div class="col-lg-4 col-xl-4">
                        <aside  class="side-bar sticky-top">
                            <div class="widget recent-posts-entry">
                                <h6 class="widget-title">Recent Posts</h6>
                                <div class="widget-post-bx">
                                    {% for item in pouplar %}
                                        <div class="widget-post clearfix">
                                            <div class="ttr-post-media"> <img src="{{item.img}}" width="200" height="143" alt=""> </div>
                                            <div class="ttr-post-info">
                                                <div class="ttr-post-header">
                                                    <h6 class="post-title"><a href="/{{LANGUAGE_CODE}}/news/popular-students/{{item.id}}">{{item.student_name}}</a></h6>
                                                </div>
                                                <ul class="media-post">
                                                    <li><i class="fa fa-calendar"></i> {{item.date_created}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </aside>
                    </div>
                    <!-- Side bar END -->
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}