{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- META ============================================= -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />

    <!-- DESCRIPTION -->
    <meta name="description" content="EduChamp : Education HTML Template" />

    <!-- OG -->
    <meta property="og:title" content="EduChamp : Education HTML Template" />
    <meta
      property="og:description"
      content="EduChamp : Education HTML Template"
    />
    <meta property="og:image" content="" />
    <meta name="format-detection" content="telephone=no" />

    <!-- FAVICONS ICON ============================================= -->
    <link
      rel="icon"
      href="{% static 'assets/images/favicon.ico"
      type="image/x-icon' %}"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'assets/images/favicon.png' %}"
    />

    <!-- PAGE TITLE HERE ============================================= -->
    <title>
        {% block title %}{% endblock %}
    </title>
    

    <!-- MOBILE SPECIFIC ============================================= -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />



    <!-- All PLUGINS CSS ============================================= -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/css/assets.css' %}"
    />

    <!-- TYPOGRAPHY ============================================= -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/css/typography.css' %}"
    />

    <!-- SHORTCODES ============================================= -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/css/shortcodes/shortcodes.css' %}"
    />

    <!-- STYLESHEETS ============================================= -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/css/style.css' %}"
    />
    <link
      class="skin"
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/css/color/color-1.css' %}"
    />

    <!-- REVOLUTION SLIDER CSS ============================================= -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/vendors/revolution/css/layers.css'%}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/vendors/revolution/css/settings.css'%}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/vendors/revolution/css/navigation.css'%}"
    />
    <!-- REVOLUTION SLIDER END -->


    <!-- CK EDITOR -->

    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    

  </head>

  <body id="bg">
    <div class="page-wraper">
      <div id="loading-icon-bx"></div>

      <!-- Header Top ==== -->
      <header class="header rs-nav header-transparent">
		<div class="top-bar">
		  <div class="container">
			<div class="row d-flex justify-content-between">
			  <div class="topbar-left">
				<ul>
				  <li>
					<a href="mailto:devonxona@uzfi.uz"
					  ><i class="fa fa-envelope-o"></i>devonxona@uzfi.uz</a
					>
				  </li>
				</ul>
			  </div>
			  <div class="topbar-right">
				<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
					<input name="next" type="hidden" value="{{ redirect_to }}">
					<select name="language" class="header-lang-bx">
						{% get_current_language as LANGUAGE_CODE %}
						{% get_available_languages as LANGUAGES %}
						{% get_language_info_list for LANGUAGES as languages %}
						{% for language in languages %}
							<option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}  data-icon="flag flag-{{language.code}}">
								{{ language.code }}
							</option>
						{% endfor %}
					</select>
					 <script>
						$('select[name="language"]').change(function() {
							console.log("Hello")
							  const url = window.location.href;
							  const languageCode = url.match(/\/([a-z]{2})\//)[1];
							  const newurl = url.replace('/' + languageCode + '/', '/' + (languageCode === 'uz' ? 'ru' : 'uz') + '/');
							  window.location.href = newurl;
						});
					  </script>
				</form>
			  </div>
			</div>
		  </div>
		</div>
		<div class="sticky-header navbar-expand-lg">
		  <div class="menu-bar clearfix">
			<div class="container clearfix">
			  <!-- Header Logo ==== -->
			  <div class="menu-logo">
				<a href="/"><img src="{% static 'assets/images/uzfi.png' %}" alt="" /></a>
			  </div>
			  <!-- Mobile Nav Button ==== -->
			  <button
				class="navbar-toggler collapsed menuicon justify-content-end"
				type="button"
				data-toggle="collapse"
				data-target="#menuDropdown"
				aria-controls="menuDropdown"
				aria-expanded="false"
				aria-label="Toggle navigation"
			  >
				<span></span>
				<span></span>
				<span></span>
			  </button>
			  <!-- Author Nav ==== -->
			  <div class="secondary-menu">
				<div class="secondary-inner">
				  <ul>
					<li>
					  <a href="javascript:;" class="btn-link"
						><i class="fa fa-facebook"></i
					  ></a>
					</li>
					<li>
					  <a href="javascript:;" class="btn-link"
						><i class="fa fa-telegram"></i
					  ></a>
					</li>
					<li>
					  <a href="javascript:;" class="btn-link"
						><i class="fa fa-instagram"></i
					  ></a>
					</li>
				  </ul>
				</div>
			  </div>
			  <!-- Search Box ==== -->
			  <div class="nav-search-bar">
				<form action="#">
				  <input
					name="search"
					value=""
					type="text"
					class="form-control"
					placeholder="Type to search"
				  />
				  <span><i class="ti-search"></i></span>
				</form>
				<span id="search-remove"><i class="ti-close"></i></span>
			  </div>
			  <!-- Navigation Menu ==== -->
			  <div
				class="menu-links navbar-collapse collapse justify-content-start"
				id="menuDropdown"
			  >
				<div class="menu-logo">
				  <a href="/"><img src="{% static 'assets/images/logo.png' %}" alt="" /></a>
				</div>
				<ul class="nav navbar-nav">
				  <li class="active">
					<a href="javascript:;"
					  >UNIVERSITET <i class="fa fa-chevron-down"></i
					></a>
					<ul class="sub-menu">
						<li><a href="/">Bosh sahifa</a></li>
						<li><a href="/uzfi/charter/">Nizom</a></li>
						<li><a href="/uzfi/documents/">Hujjatlar</a></li>
						<li><a href="/uzfi/leadership/">Yetakchilar</a></li>
						<li><a href="/uzfi/organization-structure/">Tashkiliy tuzilma</a></li>
						<li><a href="/uzfi/councils/">Kengashlar</a></li>
						<li><a href="/uzfi/requisties/">Rekvizitlar</a></li>
						<li><a href="/uzfi/financial-reports/">Moliyaviy hisobotlar</a></li>
						<li><a href="/uzfi/famous-graduators/">Taniqli bitiruvchilar</a></li>
						<li><a href="/uzfi/open-data/">Ochiq ma'lumotlar</a></li>
						<li><a href="/uzfi/departments/">Kafedralar</a></li>
					</ul>
				  </li>
				  <li>
					<a href="javascript:;"
					  >TA'LIM <i class="fa fa-chevron-down"></i
					></a>
					<ul class="sub-menu">
					  <!-- <li>
										  <a href="javascript:;"><i class="fa fa-angle-right"></i></a>
										  <ul class="sub-menu">
	  
										  </ul>
									  </li>
									  <li><a href="javascript:;">Event<i class="fa fa-angle-right"></i></a>
										  <ul class="sub-menu">
											  <li><a href="event.html">Event</a></li>
											  <li><a href="events-details.html">Events Details</a></li>
										  </ul>
									  </li>
									  <li><a href="javascript:;">FAQ's<i class="fa fa-angle-right"></i></a>
										  <ul class="sub-menu">
											  <li><a href="faq-1.html">FAQ's 1</a></li>
											  <li><a href="faq-2.html">FAQ's 2</a></li>
										  </ul>
									  </li>
									  <li><a href="javascript:;">Contact Us<i class="fa fa-angle-right"></i></a>
										  <ul class="sub-menu">
											  <li><a href="contact-1.html">Contact Us 1</a></li>
											  <li><a href="contact-2.html">Contact Us 2</a></li>
										  </ul>
									  </li> -->
					  <li><a href="/">Kurs katalogi</a></li>
					  <li><a href="/">Resurslar</a></li>
					  <li><a href="/">Bakalavriat</a></li>
					  <li><a href="/">Magistratura</a></li>
					  <li><a href="/">Malaka talablari</a></li>
					  <li><a href="/">O‘quv rejalar</a></li>
					</ul>
				  </li>
				  <!-- <li class="add-mega-menu"><a href="javascript:;">Our Courses <i
										  class="fa fa-chevron-down"></i></a>
								  <ul class="sub-menu add-menu">
									  <li class="add-menu-left">
										  <h5 class="menu-adv-title">Our Courses</h5>
										  <ul>
											  <li><a href="courses.html">Courses </a></li>
											  <li><a href="courses-details.html">Courses Details</a></li>
											  <li><a href="profile.html">Instructor Profile</a></li>
											  <li><a href="event.html">Upcoming Event</a></li>
											  <li><a href="membership.html">Membership</a></li>
										  </ul>
									  </li>
									  <li class="add-menu-right">
										  <img src="assets/images/adv/adv.jpg" alt="" />
									  </li>
								  </ul>
							  </li> -->
				  <li>
					<a href="javascript:;"
					  >Axborot Xizmatlari<i class="fa fa-chevron-down"></i
					></a>
					<ul class="sub-menu">
					  <li><a href="blog-classic-grid.html">Yangiliklar</a></li>
					  <li><a href="blog-classic-sidebar.html">Foto gallerya</a></li>
					  <li><a href="blog-standard-sidebar.html">Video gallerya</a></li>
					</ul>
				  </li>
				  <li>
					<a href="javascript:;">Xalqaro aloqalar<i class="fa fa-chevron-down"></i></a>
					<ul class="sub-menu">
						<li><a href="/uzfi/international-grants/">Xalqaro grantlar</a></li>
						<li><a href="/uzfi/international-cooperation-relations/">Xalqaro hamkorlik aloqalari</a></li>
						<li><a href="/uzfi/international-scientific-relations/">Xalqaro ilmiy aloqalar</a></li>
						<li><a href="/uzfi/training-and-education-abroad/">Xorijda malaka oshirish va ta'lim</a></li>
						<li><a href="/uzfi/training-program-for-foreign-pedagogues/">Xorijda pedagoglar uchun malaka oshirish dasturi</a></li>
					</ul>
				  </li>
				</ul>
				<div class="nav-social-link">
				  <a href="javascript:;"><i class="fa fa-facebook"></i></a>
				  <a href="javascript:;"><i class="fa fa-google-plus"></i></a>
				  <a href="javascript:;"><i class="fa fa-linkedin"></i></a>
				</div>
			  </div>
			  <!-- Navigation Menu END ==== -->
			</div>
		  </div>
		</div>
	  </header>
	  
      <!-- Header Top END ==== -->

      {% comment %} ckeditor {% endcomment %}

      <!-- Content -->
      {% block content %}
      {% endblock %}
      <!-- Content END-->

      <!-- Footer ==== -->
      <footer>
		<div class="footer-top">
		  <div class="pt-exebar">
			<div class="container">
			  <div class="d-flex align-items-stretch">
				<div class="pt-logo mr-auto">
				  <a href="/"
					><img
					  src="{% static 'assets/images/logo-white.png' %}"
					  alt=""
					  style="width: auto; height: 100px"
				  /></a>
				</div>
				<div class="pt-social-link">
				  <ul class="list-inline m-a0">
					<li>
					  <a href="#" class="btn-link"><i class="fa fa-facebook"></i></a>
					</li>
					<li>
					  <a href="#" class="btn-link"><i class="fa fa-twitter"></i></a>
					</li>
					<li>
					  <a href="#" class="btn-link"><i class="fa fa-linkedin"></i></a>
					</li>
					<li>
					  <a href="#" class="btn-link"
						><i class="fa fa-google-plus"></i
					  ></a>
					</li>
				  </ul>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="container">
			<div class="row">
			  
			  <div class="col-12 col-lg-5 col-md-7 col-sm-12">
				<div class="row">
				  <div class="col-4 col-lg-4 col-md-4 col-sm-4">
					<div class="widget footer_widget">
					  <h5 class="footer-title">UNIVERSITET</h5>
					  <ul>
						<li><a href="/">Bosh sahifa</a></li>
						<li><a href="/uzfi/charter/">Nizom</a></li>
						<li><a href="/uzfi/documents/">Hujjatlar</a></li>
						<li><a href="/uzfi/leadership/">Yetakchilar</a></li>
						<li><a href="/uzfi/organization-structure/">Tashkiliy tuzilma</a></li>
						<li><a href="/uzfi/councils/">Kengashlar</a></li>
						<li><a href="/uzfi/requisties/">Rekvizitlar</a></li>
						<li><a href="/uzfi/financial-reports/">Moliyaviy hisobotlar</a></li>
						<li><a href="/uzfi/famous-graduators/">Taniqli bitiruvchilar</a></li>
						<li><a href="/uzfi/open-data/">Ochiq ma'lumotlar</a></li>
						<li><a href="/uzfi/departments/">Kafedralar</a></li>
					  </ul>
					</div>
				  </div>
				  <div class="col-4 col-lg-4 col-md-4 col-sm-4">
					<div class="widget footer_widget">
					  <h5 class="footer-title">Education</h5>
					  <ul>
						<li><a href="/uzfi/course-catalog/">Course catalog</a></li>
						<li><a href="/uzfi/resources/">Resources</a></li>
						<li><a href="/uzfi/course-catalog/">Portfolio</a></li>
						<li><a href="/uzfi/undergraduate/">Undergraduate</a></li>
						<li><a href="/uzfi/masters/">Master's</a></li>
						<li><a href="/uzfi/qualification-requirements/">Qualification Requirements</a></li>
						<li><a href="/uzfi/study-plans/">Study plans</a></li>
					  </ul>
					</div>
				  </div>
				  <div class="col-4 col-lg-4 col-md-4 col-sm-4">
					<div class="widget footer_widget">
					  <h5 class="footer-title">Information services</h5>
					  <ul>
						<li><a href="/uzfi/news/">News</a></li>
						<li><a href="/uzfi/video-gallery/">Video gallery</a></li>
						<li><a href="/uzfi/photo-gallery/">Photo gallery</a></li>
					  </ul>
					</div>
				  </div>
				</div>
			  </div>
			  <div class="col-12 col-lg-3 col-md-5 col-sm-12 footer-col-4">
					<div class="widget footer_widget">
					  <h5 class="footer-title">International relations</h5>
					  <ul>
						<li><a href="/uzfi/international-grants/">International grants</a></li>
						<li><a href="/uzfi/international-cooperation-relations/">International cooperation relations</a></li>
						<li><a href="/uzfi/international-scientific-relations/">International scientific relations</a></li>
						<li><a href="/uzfi/training-and-education-abroad/">Training and education abroad</a></li>
						<li><a href="/uzfi/training-program-for-foreign-pedagogues/">Training program for foreign pedagogues</a></li>
					  </ul>
					</div>
				  </div>
			</div>
		  </div>
		</div>
	  </footer>
      <!-- Footer END ==== -->

      <button class="back-to-top fa fa-chevron-up"></button>
    </div>

    <!-- External JavaScripts -->
    <script src="{% static 'assets/js/render.js' %}"></script>
    <script src="{% static 'assets/vendors/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/vendors/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/vendors/bootstrap-select/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script>
    <script src="{% static 'assets/vendors/magnific-popup/magnific-popup.js' %}"></script>
    <script src="{% static 'assets/vendors/counter/waypoints-min.js' %}"></script>
    <script src="{% static 'assets/vendors/counter/counterup.min.js' %}"></script>
    <script src="{% static 'assets/vendors/imagesloaded/imagesloaded.js' %}"></script>
    <script src="{% static 'assets/vendors/masonry/masonry.js' %}"></script>
    <script src="{% static 'assets/vendors/masonry/filter.js' %}"></script>
    <script src="{% static 'assets/vendors/owl-carousel/owl.carousel.js' %}"></script>
    <script src="{% static 'assets/js/functions.js' %}"></script>
    <script src="{% static 'assets/js/contact.js' %}"></script>
    <script src="{% static 'assets/vendors/switcher/switcher.js' %}"></script>
    <!-- Revolution JavaScripts Files -->
    <script src="{% static 'assets/vendors/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
    <script src="{% static 'assets/vendors/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
    <!-- Slider revolution 5.0 Extensions  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script src="{% static 'assets/vendors/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
    <script src="{% static 'assets/vendors/revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
    <script src="{% static 'assets/vendors/revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
    <script src="{% static 'assets/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
    <script src="{% static 'assets/vendors/revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
    <script src="{% static 'assets/vendors/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
    <script src="{% static 'assets/vendors/revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
    <script src="{% static 'assets/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
    <script src="{% static 'assets/vendors/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
    <script>
      jQuery(document).ready(function () {
        var ttrevapi;
        var tpj = jQuery;
        if (tpj("#rev_slider_486_1").revolution == undefined) {
          revslider_showDoubleJqueryError("#rev_slider_486_1");
        } else {
          ttrevapi = tpj("#rev_slider_486_1")
            .show()
            .revolution({
              sliderType: "standard",
              jsFileLocation: "{% static 'assets/vendors/revolution/js/' %}",
              sliderLayout: "fullwidth",
              dottedOverlay: "none",
              delay: 9000,
              navigation: {
                keyboardNavigation: "on",
                keyboard_direction: "horizontal",
                mouseScrollNavigation: "off",
                mouseScrollReverse: "default",
                onHoverStop: "on",
                touch: {
                  touchenabled: "on",
                  swipe_threshold: 75,
                  swipe_min_touches: 1,
                  swipe_direction: "horizontal",
                  drag_block_vertical: false,
                },
                arrows: {
                  style: "uranus",
                  enable: true,
                  hide_onmobile: false,
                  hide_onleave: false,
                  tmp: "",
                  left: {
                    h_align: "left",
                    v_align: "center",
                    h_offset: 10,
                    v_offset: 0,
                  },
                  right: {
                    h_align: "right",
                    v_align: "center",
                    h_offset: 10,
                    v_offset: 0,
                  },
                },
              },
              viewPort: {
                enable: true,
                outof: "pause",
                visible_area: "80%",
                presize: false,
              },
              responsiveLevels: [1240, 1024, 778, 480],
              visibilityLevels: [1240, 1024, 778, 480],
              gridwidth: [1240, 1024, 778, 480],
              gridheight: [768, 600, 600, 600],
              lazyType: "none",
              parallax: {
                type: "scroll",
                origo: "enterpoint",
                speed: 400,
                levels: [
                  5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 46, 47, 48, 49, 50, 55,
                ],
                type: "scroll",
              },
              shadow: 0,
              spinner: "off",
              stopLoop: "off",
              stopAfterLoops: -1,
              stopAtSlide: -1,
              shuffle: "off",
              autoHeight: "off",
              hideThumbsOnMobile: "off",
              hideSliderAtLimit: 0,
              hideCaptionAtLimit: 0,
              hideAllCaptionAtLilmit: 0,
              debugMode: false,
              fallbacks: {
                simplifyAll: "off",
                nextSlideOnWindowFocus: "off",
                disableFocusListener: false,
              },
            });
        }
      });
    </script>
  </body>
</html>
