



{% extends "base.html" %}

{% block title %}UZFI  | Rekvizitlar{% endblock %}

{% block content %}

{% load static %}

<div class="page-content">
    <!-- Page Heading Box ==== -->
    <div class="page-banner ovbl-dark" style="background-image:url({% static "assets/images/documents.jpg" %});">
        <div class="container">
            <div class="page-banner-entry">
                <h1 class="text-white">Rekvizitlar</h1>
            </div>
        </div>
    </div>

    <!-- Page Heading Box END ==== -->


    <!-- Page Content Box ==== -->
    <div class="content-block">

        <!-- FAQS  News -->
        <div class="section-area section-sp2">
            <div class="container">


                


            </div>
        </div>
        <!-- FAQS  News End -->


    </div>
    <!-- Page Content Box END ==== -->

</div>


{% endblock %}