{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- META ============================================= -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />

    <!-- DESCRIPTION -->
    <meta name="description" content="UZFI" />
	<script src="https://kit.fontawesome.com/b0fe1f0e67.js" crossorigin="anonymous"></script>
    <!-- OG -->
    <meta property="og:title" content="UZFI" />
    <meta
      property="og:description"
      content="UZFI"
    />
    <meta property="og:image" content="" />
    <meta name="format-detection" content="telephone=no" />

    <!-- FAVICONS ICON ============================================= -->
    <link
      rel="icon"
      href="{% static 'assets/images/UFPI23.ico' %}"
	  type="image/x-icon"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'assets/images/UFPI23.ico' %}"
    />
	<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">

    <!-- PAGE TITLE HERE ============================================= -->
    <title>
        {% block title %}{% endblock %}
    </title>

    

    <!-- MOBILE SPECIFIC ============================================= -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />



    <!-- All PLUGINS CSS ============================================= -->
    <link
      rel="stylesheet"
      href="{% static 'assets/css/assets.css' %}"
    />

    <!-- TYPOGRAPHY ============================================= -->
    <link
      rel="stylesheet"
      href="{% static 'assets/css/typography.css' %}"
    />

    <!-- SHORTCODES ============================================= -->
    <link
      rel="stylesheet"
      href="{% static 'assets/css/shortcodes/shortcodes.css' %}"
    />

    <!-- STYLESHEETS ============================================= -->
    <link
      rel="stylesheet"
      href="{% static 'assets/css/style.css' %}"
    />
    <link
      class="skin"
      rel="stylesheet"
      href="{% static 'assets/css/color/color-1.css' %}"
    />

    <!-- REVOLUTION SLIDER CSS ============================================= -->
    <link
      rel="stylesheet"
      href="{% static 'assets/vendors/revolution/css/layers.css'%}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendors/revolution/css/settings.css'%}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendors/revolution/css/navigation.css'%}"
    />
    <!-- REVOLUTION SLIDER END -->

	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

<style>
	.footer-bottom .container {
		max-width: 1200px;
		margin: 0 auto;
		padding: 15px 15px;
	}
	
	.footer-bottom .row {
		display: flex;
		align-items: center;
	}
	
	.footer-bottom iframe {
		width: 90%;
		max-width: 90%;
	}
	#st_txt{
		text-transform: none;
	}
</style>
    <!-- CK EDITOR -->

    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
  </head>
  	

  <body id="bg">
    <div class="page-wraper">
      {% comment %} <div id="loading-icon-bx"></div> {% endcomment %}

      <!-- Header Top ==== -->
      <header class="header rs-nav {% block trans %}header-transparent{% endblock trans %}">
		<div class="top-bar">
		  <div class="container">
			<div class="row d-flex justify-content-between">
			  <div class="topbar-left">
				<ul>
				  {% comment %} <li>
					<a href="mailto:devonxona@uzfi.uz"
					  ><i class="fa fa-envelope-o"></i>devonxona@uzfi.uz</a
					>
				  </li> {% endcomment %}
				</ul>
			  </div>
			  <div class="topbar-right">
				<ul>
					{% comment %} <li style="color: red; text-align: center; margin-right:170px;">Sayt test rejimida ishlamoqda !!!</li>  {% endcomment %}
					<li>
						<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
							<input name="next" type="hidden" value="{{ redirect_to }}">
							<select name="language" class="header-lang-bx">
								{% get_available_languages as LANGUAGES %}
								{% get_language_info_list for LANGUAGES as languages %}
								{% for language in languages %}
									<option value="{{language.code}}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}  data-icon="flag flag-{% if language.code == 'es' %}en{% else %}{{ language.code }}{% endif %}">
										{% if language.code == 'es' %}
											en
										{% else %}
											{{ language.code }}
										{% endif %}
									</option>
								{% endfor %}
							</select>
							<script>
								$('select[name="language"]').change(function(e) {
									const url = window.location.href;
									const languageCode = url.match(/\/([a-z]{2})\//)[1];
									let newurl = this.value;
									if (languageCode == newurl) {console.log('Default')}
									else {window.location.href = url.replace('/' + languageCode + '/', '/' + newurl + '/')}
								});
							</script>
						</form>
					</li>
						<a target="__blank" href="https://www.facebook.com/Uzfi.uz/" class="btn-link"><i class="fa fa-facebook"></i></a>
					</li>
						  <li>
							<a
							target="__blank"
							href="https://www.youtube.com/@uzfiuz"
							class="btn-link"
							><i class="fa fa-youtube-play"></i
						  ></a>
						  </li>
						  <li>
							<a target="__blank" href="https://t.me/UzFi_uz" class="btn-link"
							  ><i class="fa fa-telegram"></i
							></a>
						  </li>
						  <li>
							<a
							  target="__blank"
							  href="https://www.instagram.com/uzfi.uz/"
							  class="btn-link"
							  ><i class="fa fa-instagram"></i
							></a>
						  </li>
						  <li>
							<a
							  target="__blank"
							  href="https://biz.mail.ru/login/uzfi.uz"
							  class="btn-link">
							  {% comment %} <i class="fa fa-mail"></i> {% endcomment %}
							  <i class="fa fa-envelope-o"></i>
							</a>
						  </li>
					</li>
				</ul>
				
			  </div>
			</div>
		  </div>
		</div>
		<div class="sticky-header navbar-expand-lg">
		  <div class="menu-bar clearfix">

			<div class=" {% if LANGUAGE_CODE == 'ru' %}mx-5 {% else %} container {% endif %} clearfix">
			  <!-- Header Logo ==== -->
			  <div class="menu-logo">
				<a href="/{{LANGUAGE_CODE}}"><img src="{% static 'assets/images/uzfi.png' %}" alt="" /></a>
			  </div>
			  <!-- Mobile Nav Button ==== -->
			  <button
				class="navbar-toggler collapsed menuicon justify-content-end"
				type="button"
				data-toggle="collapse"
				data-target="#menuDropdown"
				aria-controls="menuDropdown"
				aria-expanded="false"
				aria-label="Toggle navigation"
			  >
				<span></span>
				<span></span>
				<span></span>
			  </button>
			  <!-- Author Nav ==== -->
			  {% comment %} <div class="secondary-menu">
				<div class="secondary-inner">
				  <ul>
					<li class="search-btn"><button id="quik-search-btn" type="button" class="btn-link"><i class="fa fa-search"></i></button></li>
				  </ul>
				</div>
			  </div> {% endcomment %}
			  <!-- Search Box ==== -->
			  {% comment %} <div class="nav-search-bar">
				<form action="/{{LANGUAGE_CODE}}/news/searchnews/">
				  <input
					name="key"
					value=""
					type="text"
					class="form-control"
					placeholder="Type to search"
				  />
				  <span><i class="ti-search"></i></span>
				</form>
				<span id="search-remove"><i class="ti-close"></i></span>
			  </div> {% endcomment %}
			  <!-- Navigation Menu ==== -->
			  <div
				class="menu-links navbar-collapse collapse justify-content-start"
				id="menuDropdown"
			  >
				<div class="menu-logo">
				  <a href="/{{LANGUAGE_CODE}}"><img src="{% static 'assets/images/uzfi.png' %}" alt="" /></a>
				</div>

					<ul class="nav navbar-nav">
						{% for menu in menus %}
						<li>
							<a href="javascript:;">{{ menu.title }} <i class="fa fa-chevron-down"></i></a>
							<ul class="sub-menu">
								{% for submenu in menu.sorted_submenus %}
									<li>
										<a style="text-transform: none;" href="/{{ LANGUAGE_CODE }}{{ submenu.url }}/">{{ submenu.title }}</a>
										{% if submenu.extra_submenu %}
											<ul class="sub-menu">
												{% for item in submenu.extra_submenu %}
													<li>
														<a style="text-transform: none;" href="{{ item.url }}" id="st_txt">{{ item.title }}</a>
													</li>
												{% endfor %}
											</ul>
										{% endif %}
									</li>
								{% endfor %}

							</ul>
						</li>
						
						{% endfor %}
						<li>
							<a href="javascript:;">{% blocktranslate %}Abituriyentlarga{% endblocktranslate %}<i class="fa fa-chevron-down"></i></a>
							<ul class="sub-menu">
								
								{% for i in abt %}
								<li><a style="text-transform: none;" href="/{{LANGUAGE_CODE}}/international/abitur/{{i.id}}/">{{i.title}}</a></li>
								{% endfor%}
								<li><a href="/{{LANGUAGE_CODE}}/uzfi/faqs/"id="st_txt">{% blocktranslate %}Tez-tez so'raladigan savollarga javoblar{% endblocktranslate %}</a></li>
							</ul>
						  </li>
					</ul>
				{% comment %} <ul class="nav navbar-nav">
				  <li class="active">
					<a href="javascript:;"
					  >{% blocktranslate %}Institut {% endblocktranslate %}<i class="fa fa-chevron-down"></i
					></a>
					<ul class="sub-menu">
						<li ><a href="/{{LANGUAGE_CODE}}" id="st_txt">{% blocktranslate %}Bosh sahifa{% endblocktranslate %}</a></li>
						<li><a href="/{{LANGUAGE_CODE}}/uzfi/leadership/" id="st_txt">{% blocktranslate %}Rahbariyat{% endblocktranslate %}</a></li>
						<li><a href="/{{LANGUAGE_CODE}}/uzfi/councils/"id="st_txt">{% blocktranslate %}Kengashlar{% endblocktranslate %}</a></li>
						<li><a href="/{{LANGUAGE_CODE}}/uzfi/centers/"id="st_txt">{% blocktranslate %}Markazlar{% endblocktranslate %}</a></li>
						<li><a href="/{{LANGUAGE_CODE}}/uzfi/departments/"id="st_txt">{% blocktranslate %}Boshqarma va bo'limlar{% endblocktranslate %}</a></li>
						<li><a href="/{{LANGUAGE_CODE}}/uzfi/charter/"id="st_txt">{% blocktranslate %}Nizom{% endblocktranslate %}</a></li>
						<li><a href="/{{LANGUAGE_CODE}}/uzfi/documents/"id="st_txt">{% blocktranslate %}Me'yoriy hujjatlar{% endblocktranslate %}</a></li>
						<li><a href="/{{LANGUAGE_CODE}}/uzfi/requisties/"id="st_txt">{% blocktranslate %}Rekvizitlar{% endblocktranslate %}</a></li>
						<li><a href="https://drive.google.com/drive/folders/1P642MtI-I0XMWFfZFFKdwt5-KVyfXVQQ" id="st_txt">{% blocktranslate %}Moliyaviy hisobotlar{% endblocktranslate %}</a></li>
						<li><a href="/{{LANGUAGE_CODE}}/uzfi/open-data/" id="st_txt">{% blocktranslate %}Ochiq ma'lumotlar{% endblocktranslate %}</a></li>
					</ul>
				  </li>
				  <li>
					<a href="javascript:;"
					  >{% blocktranslate %}TA'LIM {% endblocktranslate %}<i class="fa fa-chevron-down"></i
					></a>
					<ul class="sub-menu">
						<li><a href="/{{LANGUAGE_CODE}}/uzfi/faculty/">{% blocktranslate %}Fakultetlar{% endblocktranslate %}</a></li>
						<li><a href="/{{LANGUAGE_CODE}}/uzfi/department/">{% blocktranslate %}Kafedralar{% endblocktranslate %}</a></li>
						<li><a href="/{{LANGUAGE_CODE}}/uzfi/bachelor/">{% blocktranslate %}Bakalavriat{% endblocktranslate %}</a></li>
						<li><a href="/{{LANGUAGE_CODE}}/uzfi/magistr/">{% blocktranslate %}Magistratura{% endblocktranslate %}</a></li>
						<li><a href="/{{LANGUAGE_CODE}}/uzfi/tutor/">{% blocktranslate %}Tyutorlar{% endblocktranslate %}</a></li>
						<li><a href="https://drive.google.com/drive/folders/1B7Q9Vpc9f6YyfpKLpCUcmvUUBE2QjSBf" id="st_txt">{% blocktranslate %}O‘quv rejalari{% endblocktranslate %}</a></li>
					</ul>
				  </li>
				  <li>
					<a href="javascript:;">{% blocktranslate %}Axborot xizmati{% endblocktranslate %}<i class="fa fa-chevron-down"></i></a>

					<ul class="sub-menu">
					  <li><a href="/{{LANGUAGE_CODE}}/news/content/">{% blocktranslate %}Yangiliklar{% endblocktranslate %}</a></li>
					  <li><a href="/{{LANGUAGE_CODE}}/news/video-gallery/"id="st_txt">{% blocktranslate %}Video galereya{% endblocktranslate %}</a></li>
					  <li><a href="/{{LANGUAGE_CODE}}/news/events/">{% blocktranslate %}E&#39;lonlar{% endblocktranslate %}</a></li>
					  <li><a href="/{{LANGUAGE_CODE}}/news/contact/">{% blocktranslate %}Bog'lanish{% endblocktranslate %}</a></li>
					</ul>

				  </li>
				  <li>
					<a href="javascript:;">{% blocktranslate %}Faoliyat{% endblocktranslate %}<i class="fa fa-chevron-down"></i></a>
					<ul class="sub-menu">
						<li><a href="/{{LANGUAGE_CODE}}/international/corruption/"id="st_txt">{% blocktranslate %}Korrupsiyaga qarshi kurashish{% endblocktranslate %}<i class="fa fa-angle-right"></i></a>
							<ul class="sub-menu">
								<li><a href="/{{LANGUAGE_CODE}}/international/corruption/law/"id="st_txt">{% blocktranslate %}Korrupsiyaga qarshi kurashish{% endblocktranslate %}</a></li>
								<li><a href="/{{LANGUAGE_CODE}}/international/corruption/event/"id="st_txt">{% blocktranslate %}O'tkazilayotgan tadbirlar{% endblocktranslate %}</a></li>
							</ul>
						</li>

						<li><a href="/{{LANGUAGE_CODE}}/international/internationalrelation/"id="st_txt">{% blocktranslate %}Xalqaro faoliyat{% endblocktranslate %}</a></li>
						<li><a href="/{{LANGUAGE_CODE}}/international/internationalmemorandum/"id="st_txt">{% blocktranslate %}Xalqaro memorandumlar{% endblocktranslate %}</a></li>
						<li><a href="/{{LANGUAGE_CODE}}/international/internationalgrant/"id="st_txt">{% blocktranslate %}Xalqaro grantlar{% endblocktranslate %}</a></li>
						<li><a href="/{{LANGUAGE_CODE}}/international/scientific-activity/"id="st_txt">{% blocktranslate %}Ilmiy faoliyat{% endblocktranslate %}</a></li>
						<li><a href="/{{LANGUAGE_CODE}}/international/spiritual-educational-activity/"id="st_txt">{% blocktranslate %}Ma'naviy-marifiy faoliyat{% endblocktranslate %}</a></li>
					</ul>
				  </li>
				  <li>
					<a href="javascript:;">{% blocktranslate %}Talabalar hayoti{% endblocktranslate %}<i class="fa fa-chevron-down"></i></a>
					<ul class="sub-menu">
						<li><a href="/{{LANGUAGE_CODE}}/news/popular-students/"id="st_txt">{% blocktranslate %}Iqtidorli talabalar{% endblocktranslate %}</a></li>
						<li><a href="/{{LANGUAGE_CODE}}/international/library/"id="st_txt">{% blocktranslate %}Kutubxona{% endblocktranslate %}</a></li>
						<li><a href="/{{LANGUAGE_CODE}}/international/ttj/" id="st_txt">{% blocktranslate %}Talabalar turar joyi{% endblocktranslate %}</a></li>
					</ul>
				  </li>
				  
				 
				  <li>
					<a href="javascript:;">{% blocktranslate %}Abituriyentlarga{% endblocktranslate %}<i class="fa fa-chevron-down"></i></a>
					<ul class="sub-menu">
						
						{% for i in abt %}
						<li><a style="text-transform: none;" href="/{{LANGUAGE_CODE}}/international/abitur/{{i.id}}/">{{i.title}}</a></li>
						{% endfor%}
						<li><a href="/{{LANGUAGE_CODE}}/uzfi/faqs/"id="st_txt">{% blocktranslate %}Tez-tez so'raladigan savollarga javoblar{% endblocktranslate %}</a></li>
					</ul>
				  </li>
				
				
				</ul> {% endcomment %}
			  </div>
			  <!-- Navigation Menu END ==== -->
			</div>
		  </div>
		</div>
	  </header>
	  
      <!-- Header Top END ==== -->

      {% comment %} ckeditor {% endcomment %}

      <!-- Content -->
      {% block content %}
      {% endblock %}
      <!-- Content END-->

      <!-- Footer ==== -->
      <footer>
		<div class="footer-bottom">
			<div class="container" style="max-width: 100%; padding: 0 15px;">
				<div class="row g-4 align-items-center custom-icons">
					<div class="col-md-3">
						<h3>{% blocktranslate %} Ijtimoiy tarmoqlar {% endblocktranslate %}</h3>
						<hr>
						<p>
							<a class="white-link" target="__blank" href="https://t.me/UzFi_uz">
								<i class="fa fa-telegram" aria-hidden="true"></i> 
								{% blocktranslate %}Telegram{% endblocktranslate %}
							</a>
						</p>
						<p>
							<a class="white-link" target="__blank" href="https://www.facebook.com/Uzfi.uz/">
							<i class="fa fa-facebook" aria-hidden="true"></i> 
							{% blocktranslate %}Facebook{% endblocktranslate %}
							
							</a>
						</p>
						<p>
							<a class="white-link" target="__blank" href="https://www.youtube.com/@uzfiuz">
								<i class="fa fa-youtube" aria-hidden="true"></i> 
								{% blocktranslate %}Youtube{% endblocktranslate %} 
							</a>
						</p>
						<p>
							<a class="white-link" target="__blank" href="https://www.instagram.com/uzfi.uz/ ">
								<i class="fa fa-instagram" aria-hidden="true"></i> 
								{% blocktranslate %}Instagram{% endblocktranslate %}
							</a>
						</p>
					</div>
					<div class="col-md-3">
						<h3>{% blocktranslate %} Bizning manzil {% endblocktranslate %}</h3>
						<hr>
						<p>
							<i class="fa fa-map-marker" aria-hidden="true"></i> 
							{% blocktranslate %} Manzil: Samarqand sh, Spitamen shoh ko‘chasi, 166-uy {% endblocktranslate %}
						</p>
						<p>
							<i class="fa fa-phone" aria-hidden="true"></i> 
							{% blocktranslate %}Telfon raqam:{% endblocktranslate %} +998958268212
						</p>
						<p>
							<i class="fa fa-envelope" aria-hidden="true"></i> 
							{% blocktranslate %}Email:{% endblocktranslate %} devonxona@uzfi.uz
						</p>
					</div>
					<div class="col-md-6">
						<iframe 
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3071.0442617391855!2d66.92115311473631!3d39.67121890856542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f4d192d50c43d2d%3A0xb165c3020cfe3714!2sSamDU%20O&#39;zbekiston-Finlandiya%20Pedagogika%20instituti!5e0!3m2!1sen!2s!4v1635831688417!5m2!1sen!2s" 
							width="100%" height="250" 
							style="border:0;" allowfullscreen="" loading="lazy">
						</iframe>
					</div>
				</div>
			</div>
		</div>
	</footer>
	
      <!-- Footer END ==== -->

      <button class="back-to-top fa fa-chevron-up"></button>
    </div>

    <!-- External JavaScripts -->
    <script src="{% static 'assets/js/render.js' %}"></script>
    <script src="{% static 'assets/vendors/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/vendors/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/vendors/bootstrap-select/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script>
    <script src="{% static 'assets/vendors/magnific-popup/magnific-popup.js' %}"></script>
    <script src="{% static 'assets/vendors/counter/waypoints-min.js' %}"></script>
    <script src="{% static 'assets/vendors/counter/counterup.min.js' %}"></script>
    <script src="{% static 'assets/vendors/imagesloaded/imagesloaded.js' %}"></script>
    <script src="{% static 'assets/vendors/masonry/masonry.js' %}"></script>
    <script src="{% static 'assets/vendors/masonry/filter.js' %}"></script>
    <script src="{% static 'assets/vendors/owl-carousel/owl.carousel.js' %}"></script>
    <script src="{% static 'assets/js/functions.js' %}"></script>
	<!-- <script src="{% static 'assets/vendors/switcher/switcher.js' %}"></script> -->    
    <!-- Revolution JavaScripts Files -->
    <script src="{% static 'assets/vendors/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
    <script src="{% static 'assets/vendors/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
    <!-- Slider revolution 5.0 Extensions  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script src="{% static 'assets/vendors/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
    <script src="{% static 'assets/vendors/revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
    <script src="{% static 'assets/vendors/revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
    <script src="{% static 'assets/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
    <script src="{% static 'assets/vendors/revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
    <script src="{% static 'assets/vendors/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
    <script src="{% static 'assets/vendors/revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
    <script src="{% static 'assets/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
    <script src="{% static 'assets/vendors/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script>
		AOS.init();
	</script>
    <script>
      jQuery(document).ready(function () {
        var ttrevapi;
        var tpj = jQuery;
        if (tpj("#rev_slider_486_1").revolution == undefined) {
          revslider_showDoubleJqueryError("#rev_slider_486_1");
        } else {
          ttrevapi = tpj("#rev_slider_486_1")
            .show()
            .revolution({
              sliderType: "standard",
              jsFileLocation: "{% static 'assets/vendors/revolution/js/' %}",
              sliderLayout: "fullwidth",
              dottedOverlay: "none",
              delay: 9000,
              navigation: {
                keyboardNavigation: "on",
                keyboard_direction: "horizontal",
                mouseScrollNavigation: "off",
                mouseScrollReverse: "default",
                onHoverStop: "on",
                touch: {
                  touchenabled: "on",
                  swipe_threshold: 75,
                  swipe_min_touches: 1,
                  swipe_direction: "horizontal",
                  drag_block_vertical: false,
                },
                arrows: {
                  style: "uranus",
                  enable: true,
                  hide_onmobile: false,
                  hide_onleave: false,
                  tmp: "",
                  left: {
                    h_align: "left",
                    v_align: "center",
                    h_offset: 10,
                    v_offset: 0,
                  },
                  right: {
                    h_align: "right",
                    v_align: "center",
                    h_offset: 10,
                    v_offset: 0,
                  },
                },
              },
              viewPort: {
                enable: true,
                outof: "pause",
                visible_area: "80%",
                presize: false,
              },
              responsiveLevels: [1240, 1024, 778, 480],
              visibilityLevels: [1240, 1024, 778, 480],
              gridwidth: [1240, 1024, 778, 480],
              gridheight: [768, 600, 600, 600],
              lazyType: "none",
              parallax: {
                type: "scroll",
                origo: "enterpoint",
                speed: 400,
                levels: [
                  5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 46, 47, 48, 49, 50, 55,
                ],
                type: "scroll",
              },
              shadow: 0,
              spinner: "off",
              stopLoop: "off",
              stopAfterLoops: -1,
              stopAtSlide: -1,
              shuffle: "off",
              autoHeight: "off",
              hideThumbsOnMobile: "off",
              hideSliderAtLimit: 0,
              hideCaptionAtLimit: 0,
              hideAllCaptionAtLilmit: 0,
              debugMode: false,
              fallbacks: {
                simplifyAll: "off",
                nextSlideOnWindowFocus: "off",
                disableFocusListener: false,
              },
            });
        }
      });
    </script>
  </body>
</html>
