{% extends "base.html" %} {% block title %}{% blocktranslate %}UZFI | Kengashlar{% endblocktranslate %}{% endblock %} 
{%block content %} {% load static %}

<div class="page-content">
  <!-- Page Heading Box ==== -->
  <div
    class="page-banner ovbl-dark"
    style="background-image: url({%static 'assets/images/councils.jpg' %})"
  >
    <div class="container">
      <div class="page-banner-entry">
        <h1 class="text-white">{{data.title}}</h1>
      </div>
    </div>
  </div>

  <!-- Page Heading Box END ==== -->

  <!-- Page Content Box ==== -->
  <div class="content-block">
    <!-- FAQS  News -->
    <div class="section-area section-sp2">
      <div class="container">

        <div class="h3 my-5">
          {{data.title}}
        </div>
          

          <div class="">{{data.body|safe}}</div>

          <div class="text-secondary">{{data.date_created|safe}}</div>
      </div>
    </div>
    <!-- FAQS  News End -->

    <!-- Our Story ==== -->
    <div class="section-area section-sp1">
      <div class="container"></div>
    </div>
    <!-- Our Story END ==== -->
  </div>
  <!-- Page Content Box END ==== -->
</div>

{% endblock %}
