



{% extends "base.html" %}
{% load i18n %}
{% block title %}SAMDPI  | {% blocktranslate %}Kafedralar{% endblocktranslate %}{% endblock %}

{% block content %}

{% load static %} 

<div class="page-content">
    <!-- Page Heading Box ==== -->
    <div class="page-banner ovbl-dark" style="background-image: url({% static 'assets/images/645361781b285.jpg' %});"></div>
        <div class="container">
            <div class="page-banner-entry">
                <h1 class="text-white">{% blocktranslate %}Kafedralar{% endblocktranslate %}</h1>
            </div>
        </div>
    </div>

    <!-- Page Heading Box END ==== -->


    <!-- Page Content Box ==== -->
    <div class="content-block">

        <!-- FAQS  News -->
        {% comment %} <div class="section-area section-sp2">
            <div class="container text-center">
                <div class="row">


                    {% for i in data %}
    
                                <div
                                class="faculty-item-hover my-3 rounded"
                                style="
                                    background: url({{ i.img }}); 
                                    background-position: center; 
                                    background-size: cover;
                                ">
                                <div class="d-flex align-items-center justify-content-center" 
                                    style="background-color: rgba(0, 0, 0, 0.673);  padding: 40px">
                                    <a href="/{{ LANGUAGE_CODE }}/uzfi/department/{{ i.id }}" style="">
                                        <div class="councils-item-title">
                                            <h5 style="color: #fff;">{{ i.name }}</h5>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

    
                </div>

            </div>
        </div> {% endcomment %}
        <!-- FAQS  News End -->

        <div class="section-area section-sp2 faculties" id="faculties_page">
            <div class="container heading-bx left">
                <h2 class="title-head">{% blocktranslate %}Kafedralar{% endblocktranslate %}</h2>
                <p>{% blocktranslate %}Samarqand davlat pedagogika instituting kafedralari quyidagilar:{% endblocktranslate %}</p>
            </div>
    
            <div class="container text-center">
                <div class="row">
                    {% for i in data %}
                    <div class="col-md-6 faculty-item-bg">
                        <a href="/{{ LANGUAGE_CODE }}/uzfi/department/{{ i.id }}" style="">
                            <div
                                class="faculty-item-hover my-3 rounded"
                                style="
                                    background: url({{ i.img }}); 
                                    background-position: center; 
                                    background-size: cover;
                                "
                            >
                                <div class="py-5 rounded faculty-item">
                                    <div class="text-center">
                                        {{ i.name }}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>


    </div>
    <!-- Page Content Box END ==== -->

</div>


{% endblock %}