



{% extends "base.html" %}

{% block title %}UZFI  | {{data.name}}{% endblock %}

{% block content %}

{% load static %} 
{% load i18n %}

<div class="page-content">
    <!-- Page Heading Box ==== -->
    <div class="page-banner ovbl-dark" style="background-image:url({% static "/assets/images/courses/pic1.jpg" %});">
        <div class="container">
            <div class="page-banner-entry">
                <h1 class="text-white">{{data.name}}</h1>
            </div>
        </div>
    </div>

    <!-- Page Heading Box END ==== -->


    <!-- Page Content Box ==== -->
    <div class="content-block">

        <!-- FAQS  News -->
        <div class="section-area section-sp2">
            <div class="row">
                <div class="col-md-8">
                    <div class="container">

                        <div class="container heading-bx left">
                            <a href="/{{LANGUAGE_CODE}}/uzfi/faculty/{{data.faculty.id}}"><strong>{{data.faculty.name}}</strong> {% blocktranslate %}fakulteti sahifasiga tashrif buyurish {% endblocktranslate %}</a>
                        </div>
        
        
                        
                        <div>
                            {{data.about|safe}}
                        </div>
        
        
                    </div>
                </div>
                <div class="col-md-4">
                    {% include "subtemplates/sidebar.html" %}
                </div>
            </div>
        </div>
        <!-- FAQS  News End -->


    </div>
    <!-- Page Content Box END ==== -->

</div>


{% endblock %}