{% extends 'base.html' %}

{% block title %}
  UZFI | {{ faculty.name }}
{% endblock %}

{% block content %}
  {% load static %}
  {% load i18n %}
  <div class="page-content">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Page Heading Box ==== -->
    <div class="page-banner ovbl-dark" style="background-image:url({{ faculty.img }});">
      <div class="container">
        <div class="page-banner-entry">
          <h1 class="text-white">{{ faculty.name }}</h1>
        </div>
      </div>
    </div>

    <!-- Page Heading Box END ==== -->

    <!-- Page Content Box ==== -->
    <div class="content-block">
      <!-- FAQS News -->
      <div class="section-area section-sp2 mb-5">
        {% if faculty %}
          <div class="container">
            
            <ul class="nav nav-pills mt-5 mb-4">
              <li class="nav-item mr-2">
                <a class="nav-link active" data-bs-toggle="pill" href="#home">{% blocktranslate %}Fakultet haqida{% endblocktranslate %}</a>
              </li>
              <li class="nav-item mr-2">
                <a class="nav-link" data-bs-toggle="pill" href="#menu1">{% blocktranslate %}Yo'nalishlar va Kafedralar{% endblocktranslate %}</a>
              </li>
              <li class="nav-item mr-2">
                <a class="nav-link" data-bs-toggle="pill" href="#menu2">{% blocktranslate %}Dekan{% endblocktranslate %}</a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane container active" id="home">
                <div style="border-left: 1px solid #f7b205; margin-left: -20px; padding-left: 20px">{{ faculty.body|safe }}</div>
              </div>
              <div class="tab-pane container fade" id="menu1">
                <div style="border-left: 1px solid #f7b205; margin-left: -20px; padding-left: 20px">
                  <div class="heading-bx left mt-5">
                    <h2 class="title-head">{% blocktranslate %}Fakultet ta'lim yo'nalishlari{% endblocktranslate %}</h2>
                  </div>
                  {% for item in direction %}
                    <a href="/{{ LANGUAGE_CODE }}/uzfi/direction/{{ item.id }}" class="btn btn-secondary m-1">{{ item.name }}</a>
                  {% endfor %}

                  <div class="heading-bx left mt-5">
                    <h2 class="title-head">{% blocktranslate %}Kafedralar{% endblocktranslate %}</h2>
                  </div>
                  {% for item in kafedra %}
                      <a href="/{{ LANGUAGE_CODE }}/uzfi/departments/{{ item.id }}" class="btn btn-secondary m-1">{{ item.name }}</a>
                  {% endfor %}
                </div>
              </div>
              <div class="tab-pane container fade" id="menu2">
                <div style="border-left: 1px solid #f7b205; margin-left: -20px; padding-left: 20px">
                  <div class="heading-bx left">
                    <h2 class="title-head">{% blocktranslate %}Fakultet dekani{% endblocktranslate %}</h2>
                  </div>
                  <div class="card user-info-card">
                    <a class="row p-3" href="/{{ LANGUAGE_CODE }}/uzfi/dekan/{{ dekan.id }}">
                      <div class="col-md-4">
                        <img class="rounded" src="{{ dekan.img }}" alt="" />
                      </div>
      
                      <div class="col-md-8">
                        <h3>{{ dekan.name }}</h3>
                        <div>
                          <span class="text-secondary">{% blocktranslate %}E-pochta:{% endblocktranslate %}</span> {{ dekan.email }}
                        </div>
                        <div>
                          <span class="text-secondary">{% blocktranslate %}Telefon raqam:{% endblocktranslate %}</span>
                          {{ dekan.phone }}
                        </div>
                        <div>
                          <span class="text-secondary">{% blocktranslate %}Qabul kunlari:{% endblocktranslate %}</span>
                          {{ dekan.acceptance }}
                        </div>
                        <div>
                          <span class="text-secondary">{% blocktranslate %}Manzil:{% endblocktranslate %}</span> {{ dekan.address }}
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% else %}
          <h1 class="text-center">{% blocktranslate %}Fakultet mavjud emas{% endblocktranslate %}</h1>
        {% endif %}
      </div>
      <!-- FAQS News End -->
    </div>
    <!-- Page Content Box END ==== -->
  </div>
  <script>
    const boldTexts = document.querySelectorAll('strong')
    
    boldTexts.forEach((el) => {
      el.style.position = 'relative'
      el.style.display = 'flex'
      el.style.alignItems = 'center'
      const div = document.createElement('div')
      div.style.minWidth = '20px'
      div.style.width = '20px'
      div.style.height = '20px'
      div.style.borderRadius = '10px'
      div.style.background = '#f7b205'
      div.style.position = 'absolute'
      div.style.left = '-30px'
      div.style.top = 0
      el.appendChild(div)
    })
    console.log(boldTexts[0])
  </script>
{% endblock %}
