
{% extends "base.html" %}

{% block title %}UZFI{% endblock %}

{% block content %}

{% load static %}
{% load i18n %}
{% load mathfilters %}


<div class="page-content bg-white">
  <!-- Main Slider -->
  <div class="rev-slider">
    <div
      id="rev_slider_486_1_wrapper"
      class="rev_slider_wrapper fullwidthbanner-container"
      data-alias="news-gallery36"
      data-source="gallery"
      style="
        margin: 0px auto;
        background-color: #ffffff;
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
      "
    >
      <!-- START REVOLUTION SLIDER 5.3.0.2 fullwidth mode -->
      <div
        id="rev_slider_486_1"
        class="rev_slider fullwidthabanner"
        style="display: none"
        data-version="5.3.0.2"
      >
        <ul>
          <!-- SLIDE  -->
          <li
            data-index="rs-100"
            data-transition="fade"
            data-slotamount="default"
            data-hideafterloop="0"
            data-hideslideonmobile="off"
            data-easein="default"
            data-easeout="default"
            data-masterspeed="default"
            data-thumb="error-404.html"
            data-rotate="0"
            data-fstransition="fade"
            data-fsmasterspeed="1500"
            data-fsslotamount="7"
            data-saveperformance="off"
            data-title="A STUDY ON HAPPINESS"
            data-param1=""
            data-param2=""
            data-param3=""
            data-param4=""
            data-param5=""
            data-param6=""
            data-param7=""
            data-param8=""
            data-param9=""
            data-param10=""
            data-description="Science says that Women are generally happier"
            style="position: relative"
          >

            <video
              playsinline
              autoplay
              muted
              loop
              id="myVideo"
              style="
                position: absolute;
                min-width: 100%;
                min-height: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
              "
            >
              <source
                src="{% static 'assets\bg-videos\UZFI.mp4' %}"
                type="video/mp4"
              />
            </video>

            <!-- LAYER NR. 1 -->
            <div
              class="tp-caption tp-shape tp-shapewrapper"
              id="slide-100-layer-1"
              data-x="['center','center','center','center']"
              data-hoffset="['0','0','0','0']"
              data-y="['middle','middle','middle','middle']"
              data-voffset="['0','0','0','0']"
              data-width="full"
              data-height="full"
              data-whitespace="nowrap"
              data-type="shape"
              data-basealign="slide"
              data-responsive_offset="off"
              data-responsive="off"
              data-frames='[{"from":"opacity:0;","speed":1,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"delay":"wait","speed":1,"to":"opacity:0;","ease":"Power4.easeOut"}]'
              data-textAlign="['left','left','left','left']"
              data-paddingtop="[0,0,0,0]"
              data-paddingright="[0,0,0,0]"
              data-paddingbottom="[0,0,0,0]"
              data-paddingleft="[0,0,0,0]"
              style="
                z-index: 5;
                background-color: rgba(2, 0, 11, 0.8);
                border-color: rgba(0, 0, 0, 0);
                border-width: 0px;
              "
            ></div>
            <!-- LAYER NR. 2 -->
            <div
              class="tp-caption Newspaper-Title tp-resizeme"
              id="slide-100-layer-2"
              data-x="['center','center','center','center']"
              data-hoffset="['0','0','0','0']"
              data-y="['top','top','top','top']"
              data-voffset="['250','250','250','240']"
              data-fontsize="['40','40','40','20']"
              data-lineheight="['55','55','55','35']"
              data-width="full"
              data-height="none"
              data-whitespace="normal"
              data-type="text"
              data-responsive_offset="on"
              data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
              data-textAlign="['center','center','center','center']"
              data-paddingtop="[0,0,0,0]"
              data-paddingright="[0,0,0,0]"
              data-paddingbottom="[10,10,10,10]"
              data-paddingleft="[0,0,0,0]"
              style="
                z-index: 6;
                font-family: rubik;
                font-weight: 400;
                text-align: center;
                white-space: normal;
              "
             >
             
            {% blocktranslate %}O&#39;ZBEKISTON - FINLANDIYA PEDAGOGIKA INSTITUTI{% endblocktranslate %}
            </div>

             
            <a
              href="https://uzfi.uz/uz/international/abitur/4/"
              target="__blank"
              class="tp-caption Newspaper-Button rev-btn"
              id="slide-100-layer-6"
              data-x="['center','center','center','center']"
              data-hoffset="['-90','-80','-75','-90']"
              data-y="['top','top','top','top']"
              data-voffset="['400','400','400','420']"
              data-width="none"
              data-height="none"
              data-whitespace="nowrap"
              data-type="button"
              data-responsive_offset="on"
              data-responsive="off"
              data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
              data-textAlign="['center','center','center','center']"
              data-paddingtop="[12,12,12,12]"
              data-paddingright="[30,35,35,15]"
              data-paddingbottom="[12,12,12,12]"
              data-paddingleft="[30,35,35,15]"
              style="
                z-index: 8;
                white-space: nowrap;
                outline: none;
                box-shadow: none;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                cursor: pointer;
                border-radius: 30px;
                margin-left: 450px; /* 1 cm = 10 mm = 10px */
              "
            >
              {% blocktranslate %}QABUL 2024-2025{% endblocktranslate %}
            </a>
            <a
              href="https://360.openconference.us/uzfi/"
              target="__blank"
              class="tp-caption Newspaper-Button rev-btn"
              id="slide-100-layer-6"
              data-x="['center','center','center','center']"
              data-hoffset="['-90','-80','-75','-90']"
              data-y="['top','top','top','top']"
              data-voffset="['400','400','400','420']"
              data-width="none"
              data-height="none"
              data-whitespace="nowrap"
              data-type="button"
              data-responsive_offset="on"
              data-responsive="off"
              data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
              data-textAlign="['center','center','center','center']"
              data-paddingtop="[12,12,12,12]"
              data-paddingright="[30,35,35,15]"
              data-paddingbottom="[12,12,12,12]"
              data-paddingleft="[30,35,35,15]"
              style="
                z-index: 8;
                white-space: nowrap;
                outline: none;
                box-shadow: none;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                cursor: pointer;
                border-radius: 30px;
              "
            >
              {% blocktranslate %}VIRTUAL TUR{% endblocktranslate %}
            </a>

          </li>
          <li
            data-index="rs-200"
            data-transition="fade"
            data-slotamount="default"
            data-hideafterloop="0"
            data-hideslideonmobile="off"
            data-easein="default"
            data-easeout="default"
            data-masterspeed="default"
            data-thumb="{% static 'assets/images/slider/slide1.jpg' %}"
            data-rotate="0"
            data-fstransition="fade"
            data-fsmasterspeed="1500"
            data-fsslotamount="7"
            data-saveperformance="off"
            data-title="A STUDY ON HAPPINESS"
            data-param1=""
            data-param2=""
            data-param3=""
            data-param4=""
            data-param5=""
            data-param6=""
            data-param7=""
            data-param8=""
            data-param9=""
            data-param10=""
            data-description="Science says that Women are generally happier"
          >
            <!-- MAIN IMAGE -->
            <img
              src="{{MAINPAGE.img}}"
              alt=""
              data-bgposition="center center"
              data-bgfit="cover"
              data-bgrepeat="no-repeat"
              data-bgparallax="10"
              class="rev-slidebg"
              data-no-retina
            />

            <!-- LAYER NR. 1 -->
            <div
              class="tp-caption tp-shape tp-shapewrapper"
              id="slide-200-layer-1"
              data-x="['center','center','center','center']"
              data-hoffset="['0','0','0','0']"
              data-y="['middle','middle','middle','middle']"
              data-voffset="['0','0','0','0']"
              data-width="full"
              data-height="full"
              data-whitespace="nowrap"
              data-type="shape"
              data-basealign="slide"
              data-responsive_offset="off"
              data-responsive="off"
              data-frames='[{"from":"opacity:0;","speed":1,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:1;","ease":"Power4.easeOut"}]'
              data-textAlign="['left','left','left','left']"
              data-paddingtop="[0,0,0,0]"
              data-paddingright="[0,0,0,0]"
              data-paddingbottom="[0,0,0,0]"
              data-paddingleft="[0,0,0,0]"
              style="
                z-index: 5;
                background-color: rgba(2, 0, 11, 0.8);
                border-color: rgba(0, 0, 0, 0);
                border-width: 0px;
              "
            ></div>

            <!-- LAYER NR. 2 -->
            <div
              class="tp-caption Newspaper-Title tp-resizeme"
              id="slide-200-layer-2"
              data-x="['center','center','center','center']"
              data-hoffset="['0','0','0','0']"
              data-y="['top','top','top','top']"
              data-voffset="['250','250','250','240']"
              data-fontsize="['30','30','30','30']"
              data-lineheight="['55','55','55','35']"
              data-width="full"
              data-height="none"
              data-whitespace="normal"
              data-type="text"
              data-responsive_offset="on"
              data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
              data-textAlign="['center','center','center','center']"
              data-paddingtop="[0,0,0,0]"
              data-paddingright="[0,0,0,0]"
              data-paddingbottom="[10,10,10,10]"
              data-paddingleft="[0,0,0,0]"
              style="
                z-index: 6;
                font-family: rubik;
                font-weight: 700;
                text-align: center;
                white-space: normal;
                text-transform: uppercase;
              ">
            {{MAINPAGE.title}}
              </script>
            </div>
            
            <!-- LAYER NR. 4 -->
            <a
              href="/{{LANGUAGE_CODE}}/news/content/{{MAINPAGE.id}}"
              class="tp-caption Newspaper-Button rev-btn"
              id="slide-200-layer-5"
              data-x="['center','center','center','center']"
              data-hoffset="['90','80','75','90']"
              data-y="['top','top','top','top']"
              data-voffset="['400','400','400','420']"
              data-width="none"
              data-height="none"
              data-whitespace="nowrap"
              data-type="button"
              data-responsive_offset="on"
              data-responsive="off"
              data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
              data-textAlign="['center','center','center','center']"
              data-paddingtop="[12,12,12,12]"
              data-paddingright="[30,35,35,15]"
              data-paddingbottom="[12,12,12,12]"
              data-paddingleft="[30,35,35,15]"
              style="
                z-index: 8;
                white-space: nowrap;
                outline: none;
                box-shadow: none;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                cursor: pointer;
                background-color: var(--primary) !important;
                border: 0;
                border-radius: 30px;
                margin-right: 5px;
              "
            >
            {% blocktranslate %}Davomini o'qish{%endblocktranslate%}
            </a>
            <a
              href="/{{LANGUAGE_CODE}}/news/content/"
              class="tp-caption Newspaper-Button rev-btn"
              id="slide-200-layer-6"
              data-x="['center','center','center','center']"
              data-hoffset="['-90','-80','-75','-90']"
              data-y="['top','top','top','top']"
              data-voffset="['400','400','400','420']"
              data-width="none"
              data-height="none"
              data-whitespace="nowrap"
              data-type="button"
              data-responsive_offset="on"
              data-responsive="off"
              data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
              data-textAlign="['center','center','center','center']"
              data-paddingtop="[12,12,12,12]"
              data-paddingright="[30,35,35,15]"
              data-paddingbottom="[12,12,12,12]"
              data-paddingleft="[30,35,35,15]"
              style="
                z-index: 8;
                white-space: nowrap;
                outline: none;
                box-shadow: none;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                cursor: pointer;
                border-radius: 30px;
              "
            >
              
              {% blocktranslate %}Barcha Yangiliklar{%endblocktranslate%}
            </a>
          </li>
          <!-- SLIDE  -->
        </ul>
      </div>
      <!-- END REVOLUTION SLIDER -->
    </div>
  </div>
  <!-- Main Slider -->
  <div class="content">

    <div class="container">
      <br>
      <div class="row gy-4">
        <div class="col-lg-4 col-md-4 col-sm-1 my-2">
          <a href="https://interactive.uzfi.uz/" class="card h-100">
            <div class="card-body d-flex p-2">
              <div class="h-100 border p-1">
                <img src="{%static 'assets/images/Frame_1975515.png' %}" style="height:60px; width:60px">
              </div>
              <div class="px-2">
                <div class="text-primary p-1" style="font-weight: bold;">{%blocktranslate%}Yagona portal{%endblocktranslate%}</div>
                <div style="font-size: 14px;">{%blocktranslate%}UZFI interaktiv xizmatlar portali{%endblocktranslate%}</div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-1 my-2">
          <a href="https://library.uzfi.uz/#" class="card h-100">
            <div class="card-body d-flex p-2">
              <div class="h-100 border p-1">
                <img src="{%static 'assets/images/hovered_NMw9C2X.png' %}" style="height:60px; width:60px">
              </div>
              <div class="px-2">
                <div class="text-primary p-1" style="font-weight: bold;">{%blocktranslate%}Elektron kutubxona{%endblocktranslate%}</div>
                <div style="font-size: 14px;">{%blocktranslate%}Yagona elektron kutubxona axborot tizimi{%endblocktranslate%}</div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-1 my-2">
          <a href="https://darsjadvali.uzfi.uz/" class="card h-100">
            <div class="card-body d-flex p-2">
              <div class="h-100 border p-1">
                <img src="{%static 'assets/images/Frame_197552_cLFs5Ov.png' %}" style="height:60px; width:60px">
              </div>
              <div class="px-2">
                <div class="text-primary p-1" style="font-weight: bold;">{%blocktranslate%}Dars jadvali{%endblocktranslate%}</div>
                <div style="font-size: 14px;" >{%blocktranslate%}UZFI dars jadvali{%endblocktranslate%}</div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-1 my-2">
          <a href="https://biz.mail.ru/login/uzfi.uz" class="card h-100">
            <div class="card-body d-flex p-2">
              <div class="h-100 border p-1">
                <img src="{%static 'assets/images/Frame_197551_67eivVm.png' %}" style="height:60px; width:60px">
              </div>
              <div class="px-2">
                <div class="text-primary p-1" style="font-weight: bold;">{%blocktranslate%}Korporativ elektron pochta{%endblocktranslate%}</div>
                <div style="font-size: 14px;" > {%blocktranslate%}Korporativ elektron pochta{%endblocktranslate%}</div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-1 my-2">
          <a href="https://kpi.uzfi.uz/" class="card h-100">
            <div class="card-body d-flex p-2">
              <div class="h-100 border p-1">
                <img src="{%static 'assets/images/hovered_NMw9C2X.png' %}" style="height:60px; width:60px; background-color: #ffffff;">
              </div>
              <div class="px-2">
                <div class="text-primary p-1" style="font-weight: bold;">{%blocktranslate%}KPI tizimi{%endblocktranslate%}</div>
                <div style="font-size: 14px;">{%blocktranslate%}Hodimlarni baholash va nazorat qilish tizimi{%endblocktranslate%}</div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-1 my-2">
          <a href="http://ttj.uzfi.uz/" class="card h-100">
            <div class="card-body d-flex p-2">
              <div class="h-100 border p-1">
                <img src="{%static 'assets/images/hovered_NMw9C2X.png' %}" style="height:60px; width:60px">
              </div>
              <div class="px-2">
                <div class="text-primary p-1" style="font-weight: bold;">{%blocktranslate%}TTJ{%endblocktranslate%}</div>
                <div style="font-size: 14px;">{%blocktranslate%}Talabalar yotoqxonasi uchun online ariza{%endblocktranslate%}</div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <!-- #faculties  -->

    <div class="section-area section-sp2 faculties" id="faculties_page">
        <div class="container heading-bx left">
            <h2 class="title-head">{% blocktranslate %}Fakultetlar{% endblocktranslate %}</h2>
            <p>{% blocktranslate %}O‘zbekiston-Finlandiya pedagogika instituting fakultetlari quyidagilar:{% endblocktranslate %}</p>
        </div>

        <div class="container text-center">
            <div class="row">
                {% for i in faculty %}
                <div class="col-md-6 faculty-item-bg">
                    <a href="/{{ LANGUAGE_CODE }}/uzfi/faculty/{{ i.id }}/">
                        <div
                            class="faculty-item-hover my-3 rounded"
                            style="
                                background: url({{ i.img.url }}); 
                                background-position: center; 
                                background-size: cover;
                            "
                        >
                            <div class="py-5 rounded faculty-item">
                                <div class="text-center">
                                    {{ i.name }}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- #faculties end  -->

    <!-- Destinations -->
    <div
      id="destinations"
      class="section-area section-sp2 popular-courses-bx"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-12 heading-bx left">
            <h2 class="title-head">
              {%blocktranslate%}Institut ta&#39;lim yo&#39;nalishlari{%endblocktranslate%}
            </h2>
            <p>
              {% comment %} {% blocktranslate %}O'zbekiston-Finlandiya pedagogika institutida O'zbekistonning boy madaniyatini  hamda O'zbek-Fin pedagogik ta'limini o'zida mujassamlashtirgan bakalavr va magistr yo'nalishlari mavjud. Institutda  Sharq va G'arbning zamonaviy pedagogika tajribalaridan foydalaniladigan quydagi yo'nalishlarimiz mavjud.{%endblocktranslate%} {% endcomment %}
            </p>
          </div>
        </div>
        <div class="row">
          <div
            class="courses-carousel owl-carousel owl-btn-1 col-12 p-lr0 put-destinations"
          >
          {% for i in direction %}
             <div class="item">
									<div class="cours-bx">
										<div class="action-box" style="position: relative;overflow: hidden; width: auto; height: 190px;">
											<img src="{{i.img}}" alt="">
											<a href="/{{LANGUAGE_CODE}}/uzfi/direction/{{i.id}}/" class="btn">{% blocktranslate %}Ko&#39;proq o&#39;qish{%endblocktranslate%}</a>
										</div>
										<div class="info-bx text-center" style="height: 160px;">
											<h5><a href="/{{LANGUAGE_CODE}}/uzfi/direction/{{i.id}}/">{{i.name}}</a></h5>
											<span><a href="/{{LANGUAGE_CODE}}/uzfi/faculty/{{i.faculty.id}}/">{{i.faculty.name}}</a></span>
										</div>
										
									</div>
								</div> 
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <!-- Destinations END -->

    <!-- Informations END -->
    
    <div style="position: relative; height: 800px; background-position: center; background-repeat: no-repeat; background-size: cover; width: 100%; background-image: url({% static 'assets/images/645361781b285.jpg' %})">
      <div class="container">
        <div class="row">
          <div style="background-color: black;" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content" style="background: #000;">
                <div class="modal-header" style="background: #000;">
                  <h5 class="modal-title" id="staticBackdropLabel"></h5>
                <button type="button" class="btn" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
                <div class="modal-body" style="padding: 0;">
                  <iframe style="width: 100%; height: 500px;" src="https://www.youtube.com/embed/4IuhSJZHv6g?si=uJvYaMc0S_icgOfI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="w-100 border" >
            <div class="z-n1" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.8);">
              <div class="container" style="padding-top: 8%;">
                
                <div class="z-3 text-center d-block align-middle" type="button" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                  <svg data-v-1b1c0a2c="" width="102" height="102" viewBox="0 0 102 102" fill="none" xmlns="http://www.w3.org/2000/svg" class="animate-play"><rect data-v-1b1c0a2c="" width="102" height="102" rx="51" fill="white"></rect> <path data-v-1b1c0a2c="" d="M39.9727 32.8094C39.9727 31.187 41.8026 30.2397 43.1273 31.1764L68.051 48.7992C69.1599 49.5833 69.1816 51.221 68.0937 52.0341L43.1701 70.6639C41.8512 71.6498 39.9727 70.7086 39.9727 69.062V32.8094Z" fill="#024DA5"></path></svg>
                </div>
              </div>
                <div class="container">
                  <br>
                  <div style="color: white;">
                    <br>
                    <h3 style="font-style: normal; text-align: center; color: white;"><img src="/static/assets/images/uzfi.png" style="  height: 65px;"> {%blocktranslate%}O'zbekiston-Finlandiya pedagogika instituti{%endblocktranslate%}</h3>
                    <p style="font-style: normal;font-family:Arial, Helvetica, sans-serif; ">{%blocktranslate%}O'zbekiston-Finlandiya pedagogika instituti (O'zFIPI) O'zbekiston Respublikasi Prezidentining 2022-yil 21-iyundagi PQ-289-sonli «Pedagogik ta'lim sifatini oshirish va pedagogik kadrlar tayyorlovchi oliy ta'lim muassasalari faoliyatini yanada rivojlantirish chora-tadbirlari to'g'risida»gi qarori asosida tashkil etilgan. Institut davlat oliy ta'lim muassasasi hisoblanib, pedagogika sohasi bo'yicha tarbiya va o'qitish usullari, ta'lim jarayonida zamonaviy pedagogik texnologiyalarni qo'llash ko'nikmalariga ega professional oliy ma'lumotli kadrlarni tayyorlashni o'z oldiga maqsad qilib qo'ygan{%endblocktranslate%}
                    </p>
                </div>
                <style>
                  @media screen and (max-width: 768px ) {
                    .classname {
                    display: none
                    }
                    }
                </style>
                <div class="classname">
                  <div class="row gy-4">
                    <div class="col-lg-4 col-md-4 col-sm-1 my-2">
                      <div class="card">
                        <div class="card-body d-flex p-3">
                          <div class="h-100 border p-2 text-center ">
                            <i class="fa fa-users m-2" aria-hidden="true" style="font-size: 30px; color: #024da5;"></i>
                          </div>
                          <div class="px-2">
                            <div class="text-primary p-1" style="font-weight: bold; font-size:21px;">{%blocktranslate%}Talabalar soni{%endblocktranslate%}</div>
                            <div style="font-size: 17px;">8492</div> 
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-1 my-2">
                      <div class="card">
                        <div class="card-body d-flex p-3">
                          <div class="h-100 border p-2 text-center ">
                            <i class="fa-solid fa-sitemap m-2" style="font-size: 30px; color: #024da5;"></i>
                            {% comment %} <i class="fa fa-users font-si m-2" aria-hidden="true" style="font-size: 30px; color: #024da5;"></i> {% endcomment %}
                          </div>
                          <div class="px-2">
                            <div class="text-primary p-1" style="font-weight: bold; font-size:21px;">{%blocktranslate%}Yo&#39;nalishlar soni{%endblocktranslate%}</div>
                            <div style="font-size: 17px;">30</div> 
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-1 my-2">
                      <div class="card">
                        <div class="card-body d-flex p-3">
                          <div class="h-100 border p-2 text-center ">
                            <i class="fa fa-graduation-cap m-2" aria-hidden="true" style="font-size: 30px; color: #024da5;"></i>
                          </div>
                          <div class="px-2">
                            <div class="text-primary p-1" style="font-weight: bold; font-size:21px;">{%blocktranslate%}Fakultetlar soni{%endblocktranslate%}</div>
                            <div style="font-size: 17px;">6</div> 
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-1 my-2">
                      <div class="card">
                        <div class="card-body d-flex p-3">
                          <div class="h-100 border p-2 text-center ">
                            <i class="fa-solid fa-chalkboard-user m-2" style="font-size: 30px; color: #024da5;"></i>
                            {% comment %} <i class='fas fa-chalkboard-teacher' aria-hidden="true" style="font-size: 30px; color: #024da5;"></i> {% endcomment %}
                          </div>
                          <div class="px-2">
                            <div class="text-primary p-1" style="font-weight: bold; font-size:21px;">{%blocktranslate%}O&#39;qituvchilar{%endblocktranslate%}</div>
                            <div style="font-size: 17px;">324</div> 
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-1 my-2">
                      <div class="card">
                        <div class="card-body d-flex p-3">
                          <div class="h-100 border p-2 text-center ">
                            <i class="fa-solid fa-building-user m-2" aria-hidden="true" style="font-size: 30px; color: #024da5;"></i>
                          </div>
                          <div class="px-2">
                            <div class="text-primary p-1" style="font-weight: bold; font-size:21px;">{%blocktranslate%}Bo&#39;limlar soni{%endblocktranslate%}</div>
                            <div style="font-size: 17px;">20</div> 
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-1 my-2">
                      <div class="card">
                        <div class="card-body d-flex p-3">
                          <div class="h-100 border p-2 text-center ">
                            <i class="fa-solid fa-person-chalkboard m-2" style="font-size: 30px; color: #024da5;"></i>
                            {% comment %} <i class="fa fa-user" aria-hidden="true" style="font-size: 30px; color: #024da5;"></i> {% endcomment %}
                          </div>
                          <div class="px-2">
                            <div class="text-primary p-1" style="font-weight: bold; font-size:21px;">{%blocktranslate%}O&#39;quv xonalar{%endblocktranslate%}</div>
                            <div style="font-size: 17px;">175</div> 
                          </div>
                        </div>
                      </div>
                    </div>
                  

                  </div>
                </div>
          </div>
        </div>

      </div>
    </div>
      </div>
    </div>

    <!-- Informations END -->
    
    

    <div class="section-area section-sp2 mb-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center heading-bx">
            <h2 class="title-head m-b0">{% blocktranslate %}Yangiliklar{%endblocktranslate%} <span></span></h2>
          </div>
        </div>
        <div class="row">
          <div
            class="upcoming-event-carousel owl-carousel owl-btn-center-lr owl-btn-1 col-12 p-lr0 m-b30"
          >
          
          {% for item in  news %}

          <div class="item">
            <div class="event-bx">
              <div class="action-box">
                <img height="500" class="image" src="{{item.img}}" alt="">
                <style>
                  .image {
                      object-fit: content;
                      width: 100%;
                      height: 500px;
                  }
                  @media only screen and (max-width: 500px) {
                      .image {
                          height: 250px;
                      }
                  }
              </style>
              </div>
              <div class="info-bx d-flex">
                <div class="event-info">
                  <h6 class="event-title" style="font-size: 15px;"><a href="/{{LANGUAGE_CODE}}/news/content/{{item.id}}/">{{item.title|truncatewords:8}}</a></h6>
                  <ul class="media-post">
                    <li><i class="fa fa-clock-o"></i> {{item.date_created}}</li>
                    <li><i class="fa fa-eye"></i> {{item.views}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          {% endfor %}

          </div>
        </div>
        <div class="text-center">
          <a href="/news/content/" class="btn">{% blocktranslate %}Barcha yangiliklarni ko&#39;rish{%endblocktranslate%}</a>
        </div>
      </div>
    </div>

    <!-- Testimonials -->
    <div
      class="section-area section-sp2 bg-fix ovbl-dark pb-5"
      style="
        background-image: url({% static 'assets/images/sports.jpg' %});"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-white heading-bx left">
            <h2 class="title-head text-uppercase">
              {% blocktranslate %}Mashhur talabalarimiz{%endblocktranslate%}</span>
            </h2>
            <p>
              {% blocktranslate %} 
O'zbekiston-Finlandiya pedagogika institutining ilmda, sportda, xalqaro hayotda va tashkiliy jarayonlardagi yetkachi, harakatchan va shijoatli yoshlari bilan tanishing!{%endblocktranslate%}
            </p>
          </div>
        </div>
        <div
          class="testimonial-carousel owl-carousel owl-btn-1 col-12 p-lr0"
        >
          
        
        {% for item in popular_student %}

        <div class="item">
          <div class="testimonial-bx"  style="height: 150px;">
            <div class="testimonial-thumb" style="width: 100px; height: 100px;">
                <a href="/{{LANGUAGE_CODE}}/news/popular-students/{{item.id}}/">
                    <img
                        src="{{item.img.0.img}}"
                        alt=""
                        style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover;"
                    />
                </a>
            </div>

            <div class="testimonial-info">
              <a href='/{{LANGUAGE_CODE}}/news/popular-students/{{item.id}}/' class="name">{{item.student_name}}</a>
            </div>
            <div class="testimonial-content">
              <p>
                {% if item.description|length > 230 %}
                    {{item.description|slice:230}}...
                {% else  %}
                    {{item.description }}
                {% endif %}
              </p>
            </div>
          </div>
        </div>
        {% endfor %}


        </div>
      </div>
    </div>
    <div class="section-area section-sp2">
      <div class="container">
        <div class="heading-bx left">
          <h2 class="m-b10 title-head">{% blocktranslate %} Tez-tez so&#39;raladigan savollarga javoblar {% endblocktranslate %}</span></h2>
        </div>
        <div class="ttr-accordion m-b30 faq-bx" id="accordion1">
          {% for i in charter %}
          <div class="panel">
            <div class="acod-head">
              <h6 class="acod-title">
                <a data-toggle="collapse" href="#faq{{ forloop.counter }}" class="collapsed" data-parent="#accordion1">
                  {{ i.title }}
                </a>
              </h6>
            </div>
            <div id="faq{{ forloop.counter }}" class="acod-body collapse">
              <div class="acod-content">
                {{ i.body|safe }}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

          </div>
        
      </div>
    </div>
    <!-- FAQS  News End -->
  </div>
  <!-- contact area END -->
</div>

{% endblock %}