{% extends "base.html" %} {% block title %}UZFI | {{data.first_name}}{% endblock %} 
{% block trans %}{% endblock trans %}
{%block content %} {% load static %}

<div class="page-content">

  <!-- Page Heading Box END ==== -->

  <!-- Page Content Box ==== -->
  <div class="content-block">
    <!-- FAQS  News -->
    <div class="section-area section-sp2">
      <div class="container">
        <div class="heading-bx left">
          <h2 class="title-head">{{data.rector.role}}</h2>
        </div>

        <div class="card">
          <div class="row p-3">
            <div class="col-md-4">
              <img class="rounded" src="{{data.img}}" alt="" />
            </div>
            <div class="col-md-8">
              <h3>{{data.first_name}}</h3>
              <div>
                <span class="text-secondary">E-pochta: </span> {{data.email}}
              </div>
              <div>
                <span class="text-secondary">Telefon raqam: </span>
                {{data.phone}}
              </div>
              <div>
                <span class="text-secondary">Qabul kunlari: </span>
                {{data.acceptance}}
              </div>
              <div>
                <span class="text-secondary">Manzil: </span> {{data.address}}
              </div>
            </div>
          </div>
        </div>


        <div class="heading-bx left mt-5">
          <h2 class="title-head">{{data.rector.role}} haqida</h2>
        </div>

        <div class="profile-info">
            <div class="profile-info-head">
                <button id="profileInfoMissionsBTN" class="profileInfoBTN" data-for="profileInfoMissions">Vazifalar</button>
                <button id="profileInfoBioBTN" class="profileInfoBTN"  data-for="profileInfoBio">Biografiya</button>
                <button id="profileInfoCompletedMissionsBTN" class="profileInfoBTN"  data-for="profileInfoCompletedMissions">Scientific activity</button>
            </div>
            <div class="profile-info-body">
                <div id="profileInfoMissions">
                    
                    {{ data.duties|safe }}

                </div>
                <div id="profileInfoBio">
                    {{data.biography|safe}}
                </div>
                <div id="profileInfoCompletedMissions">
                  <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Nomi</th>
                          <th scope="col">Darajasi</th>
                          <th scope="col">Chop etilgan sana</th>
                          <th scope="col">Yukalsh</th>
                        </tr>
                      </thead>
                      <tbody>
                          {% for item in scientificwork %}
                              <tr>
                                  <th scope="row">{{item.id}}</th>
                                  <td>{{item.article_name}}</td>
                                  <td>{{item.article_level}}</td>
                                  <td>{{item.publication_date}}</td>
                                  <td><a target="_blank" href="{{item.pdf_file}}"><i class="fa fa-file-pdf-o"></i></a></td>
                              </tr>
                          {% endfor %}
                      </tbody>
                    </table>
              </div>
            </div>
        </div>


      </div>
    </div>
    <!-- FAQS  News End -->

    <!-- Our Story ==== -->
    <div class="section-area section-sp1">
      <div class="container"></div>
    </div>
    <!-- Our Story END ==== -->
  </div>
  <!-- Page Content Box END ==== -->
</div>

{% endblock %}
