



{% extends "base.html" %}
{% load i18n %}
{% block title %}{% blocktranslate %}UZFI  | Rahbariyat{% endblocktranslate %}{% endblock %}


{% block content %}

{% load static %}

<div class="page-content">
  <div class="page-content">
    <div
    class="page-banner ovbl-dark"
    style="background-image: url({%static 'assets/images/645361781b285.jpg' %})"
  >
    <div class="container">
      <div class="page-banner-entry">
        <h1 class="text-white">{% blocktranslate %}Rahbariyat{% endblocktranslate %}</h1>
      </div>
    </div>
  </div>

    <!-- Page Content Box ==== -->
    <div class="content-block">

        <!-- FAQS  News -->
        <div class="section-area section-sp2">
            <div class="container">

                




                    <div class="heading-bx left">
                        <h2 class="m-b10 title-head">{% blocktranslate %}Rahbariyat {% endblocktranslate %}<span></span></h2>
                    </div>
                    
                    
                    {% for i in data %}
    
                      <div class="card my-3 user-info-card" >
                        <a class="row p-3" href="/{{ LANGUAGE_CODE }}/uzfi/leadership/{{ i.id }}">
                          <div class="row p-3">
                            <div class="col-md-4">
                              <img class="rounded" src="{{i.img}}" style="width:300px" alt="" />
                            </div>
                            <div class="col-md-8">
                              <h3><span class="text-secondary">{{i.rector.role}}</span> {{i.first_name}}</h3>
                              <div >
                                <span class="text-secondary">{% blocktranslate %}E-pochta: {% endblocktranslate %}</span> {{i.email}}
                              </div>
                              <div >
                                <span class="text-secondary">{% blocktranslate %}Telefon raqam: {% endblocktranslate %}</span>
                                {{i.phone}}
                              </div>
                              <div >
                                <span class="text-secondary">{% blocktranslate %}Qabul kunlari: {% endblocktranslate %}</span>
                                {{i.acceptance}}
                              </div>
                              <div >
                                <span class="text-secondary">{% blocktranslate %}Manzil: {% endblocktranslate %}</span> {{i.address}}
                              </div>


                            </div>
                          </div>
                        </a>
                      </div>
    
                    {% endfor %}

            </div>
        </div>
        <!-- FAQS  News End -->


    </div>
    <!-- Page Content Box END ==== -->

</div>


{% endblock %}