{% extends "base.html" %}
{% load i18n %}
{% block title %}UZFI  | {% blocktranslate %}Kutubxona{% endblocktranslate %}{% endblock %}


{% block content %}

{% load static %}

<div class="page-content">
    <div class="page-banner ovbl-dark" style="background-image:url({% static "assets/images/645361781b285.jpg" %});">
        <div class="container">
            <div class="page-banner-entry">
                <h1 class="text-white">{% blocktranslate %}Kutubxona{% endblocktranslate %}</h1>
            </div>
        </div>
    </div>
   

    <!-- Page Content Box ==== -->
    <div class="content-block">

        <!-- FAQS  News -->
        <div class="section-area section-sp2">
            <div class="container">                

                    <div class="heading-bx left">
                        <h2 class="m-b10 title-head">{% blocktranslate %}Kutubxona{% endblocktranslate %}<span></span></h2>
                    </div>

                    {% comment %} <div class="container text-center">
                        <section id="main-carousel3" class="splide"  data-splide='{"type":"loop"}'>
                            <div class="splide__track">
                                <ul class="splide__list">
                                    <li class="splide__slide" style="overflow: hidden; width:360px; height: 216px;"><img src="{% static "assets\images\library\1.JPG" %}" alt="..."></li>
                                    <li class="splide__slide" style="overflow: hidden; width:360px; height: 216px;"><img src="{% static "assets\images\library\2.JPG" %}" alt="..."></li>
                                    <li class="splide__slide" style="overflow: hidden; width:360px; height: 216px;"><img src="{% static "assets\images\library\3.JPG" %}" alt="..."></li>
                                    <li class="splide__slide" style="overflow: hidden; width:360px; height: 216px;"><img src="{% static "assets\images\library\4.JPG" %}" alt="..."></li>
                                </ul>
                            </div>
                        </section>
                    </div> {% endcomment %}


                    <p>
                        UZFI kitob do'koni kitoblar va o'quv materiallarini xarid qilish joyi bo'lishdan tashqarida. Shuningdek, u universitet jamoasida intellektual va madaniy faoliyat uchun markaz bo'lib xizmat qiladi. Do'konda tez-tez iqtisod, biznes va adabiyotga oid turli mavzularda muallif o'qishlari, kitob imzolash va panel muhokamalari o'tkaziladi.
Ushbu tadbirlar talabalar, professor-o‘qituvchilar va xodimlarga taniqli mualliflar, ekspertlar va soha mutaxassislari bilan muloqot qilish imkoniyatini beradi. Ular qimmatli fikrlarni taklif qiladi, munozaralarni keltirib chiqaradi va o'rganilayotgan mavzularni chuqurroq tushunishga yordam beradi. Kitob do'konining tadbirlar taqvimi ko'pincha turli qiziqishlarga javob beradigan va jonli akademik va adabiy madaniyatni targ'ib qiluvchi turli xil tadbirlar bilan to'ldiriladi.
Jismoniy kitoblardan tashqari, kitob do'koni raqamli resurslarning ortib borayotgan ahamiyatini tan oladi va elektron kitoblar va akademik jurnallarga raqamli obunalarni taklif qiladi. Bu talabalarga o'zlarining afzal ko'rgan raqamli qurilmalaridan ilmiy materiallarning keng to'plamiga kirish imkonini beradi. Do'kon talabalarga ushbu raqamli resurslarni o'rnatish va ulardan foydalanish, raqamli o'quv muhitiga uzluksiz o'tishni ta'minlash bo'yicha yo'l-yo'riq va yordam beradi.
Kitob do‘konining arzon manbalar bilan ta’minlashga intilishi darsliklarni qayta sotib olish dasturi orqali yaqqol ko‘rinadi. Har bir semestr oxirida talabalar foydalanilgan darsliklarini kitob do'koniga qaytarib sotishlari mumkin, bu ularga xarajatlarining bir qismini qoplashga yordam beradi va bo'lajak talabalarga ikkinchi qo'l kitoblarni arzon narxlarda sotib olish imkonini beradi. Ushbu barqaror yondashuv nafaqat individual talabalarga foyda keltiradi, balki universitetning topqirlik va xarajatlarni anglash madaniyatini rivojlantirishga qaratilgan sa'y-harakatlariga ham hissa qo'shadi.
Hamkorlik va hamkorlikning muhimligini anglagan holda, kitob do‘koni talabalar uchun zarur bo‘lgan o‘quv materiallarini o‘z vaqtida yetkazib berish uchun professor-o‘qituvchilar bilan faol ish olib boradi. Ushbu hamkorlik darsliklarni qabul qilish jarayonini soddalashtirishga yordam beradi, talabalar har bir semestr boshida zarur resurslarga ega bo'lishini ta'minlaydi.
Bundan tashqari, kitob do'koni jamiyatdagi ta'lim tashabbuslarini qo'llab-quvvatlash uchun xayriya tashabbuslari bilan shug'ullanadi. U mahalliy maktablar va ta'lim tashkilotlariga kitoblar, ish yuritish buyumlari va boshqa resurslarni sovg'a qilib, savodxonlikni oshirish va hamma uchun sifatli ta'lim olish imkoniyatini beradi.
Xulosa qilib aytadigan bo'lsak, UZFIdagi kitob do'koni shunchaki kitob va o'quv materiallarini xarid qilish joyi emas. U intellektual tadqiqotlarning jonli markazi bo'lib xizmat qiladi, tadbirlarni o'tkazadi va akademik faollik madaniyatini rivojlantiradi. Turli xil manbalarni taqdim etish, raqamli o'rganishni qo'llash, arzon narxlarni rag'batlantirish va jamoatchilik tashabbuslarini qo'llab-quvvatlash orqali kitob do'koni universitetdagi talabalarning umumiy ta'lim tajribasiga sezilarli hissa qo'shadi.
                    </p>
                    
          

            </div>
        </div>
        <!-- FAQS  News End -->


        </div>
    <!-- Page Content Box END ==== -->

</div>

{% endblock %}