{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktranslate %}SAMDPI  | Magistratura{% endblocktranslate %}{% endblock %}

{% block content %}

{% load static %}

<div class="page-content">
    <!-- Page Heading Box ==== -->
    <div class="page-banner ovbl-dark" style="background-image:url({% static "assets/images/645361781b285.jpg" %});">
        <div class="container">
            <div class="page-banner-entry">
                <h1 class="text-white">{% blocktranslate %}Magistratura{% endblocktranslate %}</h1>
            </div>
        </div>
    </div>

    <!-- Page Heading Box END ==== -->


    <!-- Page Content Box ==== -->
    <div class="content-block">

        <!-- FAQS  News -->
        <div class="section-area section-sp2">
            

                <div class="row">
                    <div class="col-md-9">
                        <div class="container">
                          <ul>
                            <li>
                              <p>
                                O‘zbekiston Respublikasi Vazirlar Mahkamasining “Samarqand
                                davlat universitetining Samarqand davlat pedagogika instituti
                                faoliyatini tashkil etish chora-tadbirlari to‘g‘risida”
                                202-yil 30-iyundagi 408-sonli qaroriga ko‘ra Samarqand davlat
                                universitetining Samarqand davlat pedagogika instituti
                                tashkil etildi. O‘zbekiston Respublikasi Prezidentining
                                “Pedagogik ta’lim sifatini oshirish va pedagogik kadrlar
                                tayyorlovchi oliy ta’lim muassasalari faoliyatini yanada
                                rivojlantirish chora-tadbirlari to‘g‘risida“gi 2022-yil
                                21-iyundagi <a href="https://lex.uz/uz/docs/-6079561">PQ-289-sonli </a>qaroriga ko‘ra Samarqand davlat universitetining
                                Samarqand davlat pedagogika instituti negizida
                                O‘zbekiston-Finlyandiya pedagogika instituti tashkil etildi.
                                Oʽzbekistonda1997-yil 29-avgustda ta’lim yo’nalishini dunyo
                                standartlari darajasiga yetkazish maqsadida Oʽzbekiston Respublikasining
                                “Ta’lim to‘g‘risida“gi Qonuni va
                                “Kadrlar tayyorlash milliy dasturi” qabul qilindi. Mazkur
                                qonun hujjatlariga ko‘ra, 1999 yildan boshlab O‘zbekiston
                                Respublikasidagi bir qator yetakchi oliy ta’lim muassasalarida
                                ta’lim berishning ikkinchi bosqichi magistratura bo‘limlari
                                ochilib, magistrlar tayyorlana boshlandi. 2021/2022 o‘quv yilida
                                institutning  11 ta kafedralari:
                              </p>
                              <p>1.Aniq fanlar kafedrasi</p>
                              <p>2.Tabiiy fanlar kafedrasi</p>
                              <p>3. Jismoniy madaniyat nazariyasi va metodikasi kafedrasi</p>
                              <p>4.Sport turlarini o‘qitish metodikasi kafedrasi</p>
                              <p>5. Pedagogika kafedrasi</p>
                              <p>6. Boshlang‘ich ta’lim nazariyasi va amaliyoti kafedrasi</p>
                              <p>
                                7. O‘zbek tili va adabiyoti, ijtimoiy gumanitar fanlar kafedrasi
                              </p>
                              <p>8. Tasviriy san’at va muhandislik grafikasi fanlari kafedrasi</p>
                              <p>9. Musiqa ta’limi kafedrasi</p>
                              <p>10. Maktabgacha ta’lim pedagogikasi va psixologiyasi kafedrasi</p>
                              <p>11.Maktabgacha ta’lim nazariyasi va metodikasi kafedrasi</p>
                              <p> </p>
                              <p>
                                 bakalavriat ta’lim yo‘nalishlari negizidagi 14
                                magistratura mutaxasisisliklari tashkil etildi:
                              </p>
                              <p>
                                  1.<em> 70110601</em><em>-</em><em>Aniq va tabiiy fanlarni o‘qitish metodikasi (</em
                                ><em>matematika</em><em>)</em> <a
                                  href="https://drive.google.com/drive/folders/1qWff7f-tUwgun8sNPsrRV8-OCXQS8_G5?usp=share_link"
                                  >(fan dasturi)</a
                                ><br />
                                  2.<em> 70110701-</em
                                ><em
                                  >Aniq va tabiiy fanlarni o‘qitish metodikasi (fizika va
                                  astronomiya)</em
                                > <a
                                  href="https://drive.google.com/drive/folders/1WHbzbap-OdxXT2_Mr5sJHIEmviyuf5Bo?usp=share_link"
                                  >(fan dasturi)</a
                                ><br />
                                  3.<em> <em>70110602</em></em
                                ><em>-</em
                                ><em
                                  >Aniq va tabiiy fanlarni o‘qitish metodikasi (Ta’limda
                                  axborot texnologiyalari)</em
                                > <a
                                  href="https://drive.google.com/drive/folders/1EWOI9SlxExYO_rLvFSmUmpFgxtN2_Tc4?usp=share_link"
                                  >(fan dasturi)</a
                                ><br />
                                  4. <em>70110901-</em
                                ><em>Aniq va tabiiy fanlarni o’qitish</em> <em
                                  >metodikasi </em
                                ><em>(</em><em>Biologiya</em><em>)</em> <a
                                  href="https://drive.google.com/drive/folders/1DjPIY9BwgJkCVs60e8wVmiCYAGbFf7gb?usp=share_link"
                                  >(fan dasturi)</a
                                ><br />
                                  5.<em> 70110801</em><em>-</em
                                ><em>Aniq va tabiiy fanlarni o’qitish metodikasi</em
                                ><em> (kimyo)</em> <a
                                  href="https://drive.google.com/drive/folders/1ZkpuQLo8RqdZdIF6HkmPDThI8_0LySjd?usp=share_link"
                                  >(fan dasturi)</a
                                ><br />
                                  6. <em>70111001</em> <em>-</em
                                ><em
                                  >Aniq va tabiiy fanlarni o‘qitish metodikasi 
                                  (geografiya)</em
                                > <a
                                  href="https://drive.google.com/drive/folders/1z0HD4Q5FjqurwUkfxEN3z9QdnmzUL5hQ?usp=share_link"
                                  >(fan dasturi)</a
                                ><br />
                                  7.<em
                                  > 70112201-Jismoniy tarbiya va sport mashg‘ulotlari
                                  nazariyasi va metodikasi</em
                                > <a
                                  href="https://drive.google.com/drive/folders/1RLUAuDfieYrHGJvsmJDINnG111918QuV?usp=share_link"
                                  >(fan dasturi)</a
                                ><br />
                                  8.<em
                                  > 70110101 &ndash; Pedagogika nazariyasi va tarixi (faoliyat turi
                                  boʻyicha)</em
                                > <a
                                  href="https://drive.google.com/drive/folders/1DO7VDTjr5dfsGO4kX9khEIpAD8AMM8S-?usp=share_link"
                                  >(fan dasturi)</a
                                ><br />
                                  9.<em
                                  > 70110501&ndash; Ta’lim va tarbiya nazariyasi va metodikasi
                                  (boshlangʻich ta’lim)</em
                                > <a
                                  href="https://drive.google.com/drive/folders/16s598qe2ztKTg17A_ihWOaKKrlEHRtr8?usp=share_link"
                                  >(fan dasturi)</a
                                ><br />
                                  10. <em>70111101</em><em>&ndash; </em
                                ><em>Ijtimoiy-gumanitar fanlarni o‘qitish metodikasi (tarix)</em
                                > <a
                                  href="https://drive.google.com/drive/folders/18jgn4Nrik70hAD5i85sS3LSW0BfPumW1?usp=share_link"
                                  >(fan dasturi)</a
                                ><br />
                                  11. <em>70111401-O</em><em>‘</em
                                ><em>zbek tili va adabiyoti</em> <a
                                  href="https://drive.google.com/drive/folders/1Y0SU1W8OnlmF6x-8JbUF0cRCVDm85PQK?usp=share_link"
                                  >(fan dasturi)</a
                                ><br />
                                  12.<em
                                  > <em>70111202-Muhandislik grafikasi va dizayn nazariyasi</em></em
                                > <a
                                  href="https://drive.google.com/drive/folders/17KkKevyO1WOZ_ss0r2edsXNCUT1v7BCH?usp=share_link"
                                  >(fan dasturi)</a
                                ><br />
                                  13. <em>70111301-Musiqa t</em><em>a</em
                                ><em>’limi va san</em><em>’</em><em>at</em> (fan
                                dasturi)<br />
                                  14. <em
                                  >70110201&ndash; Ta’lim va tarbiya nazariyasi va metodikasi
                                  (Maktabgacha ta’lim)</em
                                ><a
                                  href="https://drive.google.com/drive/folders/1d5nAeGlkBCrKlCA8PU04bzw9xPo82QZw?usp=share_link"
                                  >(fan dasturi)</a
                                >
                              </p>
                              <p> </p>
                              <p><strong>Mutaxassisliklar bo‘yicha fanlar katalogi</strong></p>
                              <p>
                                Magistratura mutaxassisliklarida o‘quv jarayoni “Ta’lim
                                to’g’risida“ gi qonun, ta’lim yo’nalishlariga muvofiq
                                “Davlat ta’lim standarti“ va “Malaka talablari“
                                asosida amalga oshiriladi. Magistratura mutaxassisliklarida oʼqitiladigan
                                barcha fanlar boʼyicha elektron oʼquv va uslubiy materiallarni oʼz ichiga
                                qamrab olgan elektron va kredit modulli oʼquv tizimidan foydalangan holda
                                zamonaviy axborot-kommunikatsiya Internet texnologiyalar orqali amalga
                                oshirilmoqda. Magistrantlarga kafedralarning yetuk professorlar,
                                dotsentlar, fan nomzodlari ta’lim bermoqda. Yaratilayotgan
                                shart-sharoitlar oʼquv jarayoni jahon taʼlim standartlariga javob
                                beradigan yuqori darajada olib borishga imkoniyat bermoqda. Magistratura
                                mutaxassisliklarida o‘quv jarayoni o‘zbek tilida olib
                                boriladi. Magistrantlarning ilmiy-pedagogik va ilmiy-tadqiqot faoliyatini
                                amalga oshirishning dasturi O‘zbekiston Respublikasining 2020-yil 23
                                sentyabrdagi O‘RQ-637-sonli &laquo;Ta’lim
                                to‘g‘risida&raquo;gi Qonuni, O‘zbekiston
                                Respublikasining 2019-yil  29-oktyabrdagi O‘RQ-576-sonli
                                &laquo;Ilm fan va ilmiy faoliyat to‘g‘risida&raquo;gi Qonuni,
                                hamda Vazirlar Mahkamasining 2015-yil 2-martdagi &laquo;Magistratura
                                to‘g‘risida nizomni tasdiqlash haqida&raquo;gi 36-son qarori
                                asosida tashkil etilgan. Magistrantlar ilmiy-tadqiqot ishlarini olib
                                borishda  o‘z fondida 19285 nomdagi nashrga ega bo‘lgan
                                ARM (axborot-resurs markazi) alohida e’tiborga loyiq. Bu yerda
                                fanlar bo‘yicha darslik va o‘quv qo‘llanmalar, uslubiy,
                                ilmiy va boshqa turdagi adabiyotlar ham mavjud.
                              </p>
                              <p> </p>
                            </li>
                          </ul>
                          
                          
                        </div>
                    </div>
                    <div class="col-md-3">
                        {% include "subtemplates/sidebar.html" %}
                    </div>
                </div>

           
        </div>
        <!-- FAQS  News End -->


    </div>
    <!-- Page Content Box END ==== -->

</div>


{% endblock %}