{% extends "base.html" %}
{% load i18n %}
{% block title %}UZFI  | {% blocktranslate %}Talabalar Turar Joyi{% endblocktranslate %}{% endblock %}
{% block trans %}{% endblock trans %}


{% block content %}

{% load static %}

<div class="page-content">
   

    <!-- Page Content Box ==== -->
    <div class="content-block">

        <!-- FAQS  News -->
        <div class="section-area section-sp2">
            <div class="container">                

                    <div class="heading-bx left">
                        <h2 class="m-b10 title-head">{% blocktranslate %}Talabalar Turar Joyi{% endblocktranslate %}<span></span></h2>
                    </div>

                    <div class="container text-center">
                        <section id="main-carousel3" class="splide"  data-splide='{"type":"loop"}'>
                            <div class="splide__track">
                                <ul class="splide__list">
                                    <li class="splide__slide" style="overflow: hidden; width:360px; height: 216px;"><img src="{% static "assets\images\ttj\1.jpg" %}" alt="..."></li>
                                    <li class="splide__slide" style="overflow: hidden; width:360px; height: 216px;"><img src="{% static "assets\images\ttj\2.jpg" %}" alt="..."></li>
                                    <li class="splide__slide" style="overflow: hidden; width:360px; height: 216px;"><img src="{% static "assets\images\ttj\3.jpg" %}" alt="..."></li>
                                    <li class="splide__slide" style="overflow: hidden; width:360px; height: 216px;"><img src="{% static "assets\images\ttj\4.jpg" %}" alt="..."></li>
                                </ul>
                            </div>
                        </section>
                    </div>


                    <p class="container text-justify pt-5">

                        Rahbariyat topshirig‘iga asosan Ishchi guruh tuzilib, UZFI institutida Talabalar turadi (TTJ)ga bo‘lgan joyidan o‘rganildi.
                         Universitetda 3 ta talabalar turadi joyi mavjud boʻlib jami 1303 oʻringa moʻljallangan.
                        Joriy ‘quv yiliga talabalar turar joyiga o‘rnatilgan o‘rganildi va TTJdan tashqari Talabalarni turar joy bilan taʼminlash ishlarini nazorat qilish bo‘limlari 1100 o‘rindan ijaraga olingan xonadonlari monitoringi.
                         Talabalar turar joy joriy o‘quv yiliga talabalarni qabul qilish joriy taʼmirlashdan chiqqan va tayyor holatga. Jumladan TTJlar shkaf, stol-stullar, koykalar o'rnatilib, choyshablar bilan taʼminlangan, TTJlarda 19 ta oshxona, 3 ta kutubxona, 3 ta maʼnaviy-maʼrifiy mahsulotlar zallari, 2 ta sport xonalari, 2 ta kir yuvish va dazmollash xonalari, 95 dan ortiq. yuvinish xonalari, xojatxonalarga borishga tayyor holatga joy.
                        Sanitariya – gigiyena va yong‘in nazorati qoidalariga rioya qilish hamda talabalar qoidalarini taʼminlashni koʻrib chiqish. Jumla, dizenfeksiyadan qilingan va o‘t o‘chirishdan ko‘rikdan o‘ texnik.
                        Muhandislik-kommunikatsiya tizimi bilan taʼminlangan, kommunal hisob-kitoblar oʻz vaqtida amalga oshirilgan.
                        Abu Ali ibn Sino nomidagi salomatlik markazi tashkil etilgan, yuvinish xonalari, xojatxonlar, o‘quv zallari, kutubxonalar, sport zali talabalar uchun tayyor holda, besh tashabbus to‘garaklari yo‘lga qo‘yilgan.
                         Tarbiyachi-pedagoglar tomonidan o‘quv yili uchun chora-tadbirlar ish rejalari ishlab chiqilib, rahbariyat rahbari bo‘lib,3 ta TTJda tarbiyachi-pedagoglar ish faoliyati tashkil etilgan.
                        TTJ ga korxonaning bo‘yicha universitet rektor buyrug‘i va buyrug‘iga asosan Ishchi guruhi.
                        TTJ ga bo‘yicha tartib ishlab chiqarish va tartibga solish amal qilingan holda tiklanganlik taʼminlangan. Bundan, Ishchi guruhining ayol aʼzolari bilan xotin-qizlarga turadigan joydan alohida koʻrib chiqilishi yoʻlga qoʻyilgan.
                         TTJ ga birinchi navbatda, chin yetim, boquvchisini yo'qotgan, kam taʼminlangan, “Temir daftar” ikkiga, I va II kasalliklari, kasallik bilan davolangan, xorijdan kelib o'qiyotgan, oila yoki undan ortiq farzandi kontraktda o'qiyotgan. 1 - kurs talabalariga barqarorlik bilan berilgan.
                         TTJda yashaganlik uchun to‘lov miqdori universitet Kengashi tomonidan ko‘rib chiqilib bir 200 000 (ikki yuz ming) so‘m qilib ishlab chiqarish.
                        To'lovlar bo'yicha ayrim ijtimoiy guruhga kiruvchi talabalarni (ko'z kasalliklari bo'yicha 1 va 2-guruh yoki nogironlari, chin yetim yoki yetim, Mehribonlik uyi tarbiyalanuvchilari, kam taʼminlangan talabalar va hk.) rektor buyrug'iga asosan to'lovdan ozod qilingan.
                    </p>
                    
          

            </div>
        </div>
        <!-- FAQS  News End -->


        </div>
    <!-- Page Content Box END ==== -->

</div>

{% endblock %}