{% extends "base.html" %}
{% load static i18n %}

{% block title %}SAMDPI | {% blocktranslate %}Talabalar Turar Joyi{% endblocktranslate %}{% endblock %}

{% block content %}
{% load static %}
<div class="page-banner ovbl-dark" style="background-image:url({% static "assets/images/645361781b285.jpg" %});">
    <div class="container">
        <div class="page-banner-entry">
            <h1 class="text-white">{% blocktranslate %}Talabalar turar joyi{% endblocktranslate %}</h1>
        </div>
    </div>
</div>
<div class="container py-5">
    <div class="row align-items-center mb-4">
        <div class="col-md-6">
            <h2 class="display-5 fw-bold text-primary">{{ ttj.title }}</h2>
            <p class="lead text-muted">
                {% blocktranslate %}Talabalar uchun qulay va zamonaviy yashash sharoitlari yaratildi.{% endblocktranslate %}
            </p>
        </div>
        <div class="col-md-6 text-end">
            <img src="{% static 'assets/images/ttj/1.jpg' %}" alt="TTJ" class="img-fluid rounded shadow">
        </div>
    </div>

    <div class="row g-4 mb-5">
        <div class="col-md-3 col-sm-6">
            <div class="card h-100 shadow border-0 text-center p-3">
                <img src="{% static 'assets/images/ttj/4.jpg' %}" class="card-img-top rounded" alt="Image 1">
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card h-100 shadow border-0 text-center p-3">
                <img src="{% static 'assets/images/ttj/5.JPG' %}" class="card-img-top rounded" alt="Image 2">
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card h-100 shadow border-0 text-center p-3">
                <img src="{% static 'assets/images/ttj/6.JPG' %}" class="card-img-top rounded" alt="Image 3">
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card h-100 shadow border-0 text-center p-3">
                <img src="{% static 'assets/images/ttj/1.jpg' %}" class="card-img-top rounded" alt="Image 4">
            </div>
        </div>
    </div>

    <div class="bg-light p-5 rounded shadow-sm">
        <h4 class="mb-4 text-primary">{% blocktranslate %}Talabalar Turar Joyi haqida batafsil{% endblocktranslate %}</h4>
        <p class="text-justify">
         {{ ttj.body|safe }}
        </p>
    </div>
</div>

{% endblock %}
