{% extends "base.html" %}
{% load i18n %}
{% block title %}UZFI  | {% blocktranslate %}Talabalar Turar Joyi{% endblocktranslate %}{% endblock %}
{% block trans %}{% endblock trans %}


{% block content %}

{% load static %}

<div class="page-content">
   

    <!-- Page Content Box ==== -->
    <div class="content-block">

        <!-- FAQS  News -->
        <div class="section-area section-sp2">
            <div class="container">                

                    <div class="heading-bx left">
                        <h2 class="m-b10 title-head">{% blocktranslate %}Talabalar Turar Joyi{% endblocktranslate %}<span></span></h2>
                    </div>

                    <div class="container text-center">
                        <section id="main-carousel3" class="splide"  data-splide='{"type":"loop"}'>
                            <div class="splide__track">
                                <ul class="splide__list">
                                    <li class="splide__slide" style="overflow: hidden; width:360px; height: 216px;"><img src="{% static "assets\images\ttj\1.jpg" %}" alt="..."></li>
                                    <li class="splide__slide" style="overflow: hidden; width:360px; height: 216px;"><img src="{% static "assets\images\ttj\2.jpg" %}" alt="..."></li>
                                    <li class="splide__slide" style="overflow: hidden; width:360px; height: 216px;"><img src="{% static "assets\images\ttj\3.jpg" %}" alt="..."></li>
                                    <li class="splide__slide" style="overflow: hidden; width:360px; height: 216px;"><img src="{% static "assets\images\ttj\4.jpg" %}" alt="..."></li>
                                </ul>
                            </div>
                        </section>
                    </div>


                    <p class="container text-justify pt-5">
                            Rahbariyat topshirig‘iga asosan Ishchi guruh tuzilib, O‘zbekiston-Finlandiya pedagogika instetuti Talabalar turar joyi (TTJ)ga bo‘lgan ehtiyoj o‘rganildi.
                        instetutda 4 ta talabalar turar joyi mavjud bo‘lib jami 1180 o‘ringa mo‘ljallangan.
                        Joriy o‘quv yiliga talabalar turar joyiga bo‘lgan ehtiyoj o‘rganildi va TTJdan tashqari Talabalarni turar joy bilan taʼminlash ishlarini muvofiqlashtiruvchi bo‘lim tomonidan 1025 o‘rindan ortiq ijara xonadonlari bazasi yaratilgan.
                        Talabalar turar joylari joriy o‘quv yiliga talabalarni qabul qilishga joriy taʼmirlashdan chiqqan va tayyor holatga keltirilgan. Jumladan TTJlar shkaf, stol-stullar, koykalar o‘rnatilib, choyshablar bilan  taʼminlangan, TTJlarda 25 ta oshxona, 3 ta kutubxona, 2 ta maʼnaviy-maʼrifiy tadbirlar zallari, 2 ta sport xonalari, 12 ta kir yuvish va dazmollash xonalari, 26 dan ortiq yuvinish xonalari, xojatxonalar foydalanishga tayyor holatga keltirilgan.
                        Sanitariya – gigiyena va yong‘in xavfsizligi qoidalariga rioya qilish hamda talaabalar xavfsizligini taʼminlash choralari ko‘rilgan. Jumladan, dizenfeksiya qilingan va o‘t o‘chirish vositalari texnik ko‘rikdan o‘tkazilgan.
                        Muhandislik-kommunikatsiya tizimi bilan taʼminlangan, kommunal hisob-kitoblar o‘z vaqtida amalga oshirilgan.
                        , yuvinish xonalari, xojatxonlar, o‘quv zallari, kutubxonalar, sport zali talabalar uchun tayyor holatda, besh tashabbus to‘garaklari yo‘lgaa qo‘yilgan.
                        Tarbiyachi-pedagoglar tomonidan o‘quv yili uchun chora-tadbirlar ish rejalari ishlab chiqilib rahbariyat tomonidan tasdiqlangan bo‘lib,4 ta TTJda tarbiyachi-pedagoglar ish faoliyatlari tashkil etilgan.
                        TTJga joylashtirish bo‘yicha instetut rektorining buyrug‘i chiqarilgan va buyruqqa asosan Ishchi guruh tuzilgan.
                        TTJga joylashtirish bo‘yicha tartib ishlab chiqilgan va tartibga amal qilingan holda shaffoflik taʼminlangan. Bundan tashqari, Ishchi guruhning ayol aʼzolari tomonidan xotin-qizlarga turar joy ajratish masalasi alohida ko‘rib chiqilishi yo‘lga qo‘yilgan.
                        TTJga joylashtirishda birinchi navbatda, chin yetim, boquvchisini yo‘qotgan, kam taʼminlangan, “Temir daftar”ga kiritilgan, I va II guruh nogironlari, , oilasida ikki yoki undan ortiq farzandi kontraktda o‘qiyotgan hamda 1 - kurs talabalariga ustuvorlik berilgan.
                        TTJda yashaganlik uchun to‘lov miqdori universitet Kengashi tomonidan ko‘rib chiqilib bir oyga 175 000 (bir yuzi yitmish besh ming) so‘m qilib belgilangan.
                        To‘lovlar bo‘yicha ayrim ijtimoiy guruhga kiruvchi talabalarni (ko‘z kasalliklari bo‘yicha 1 va 2-guruh nogironlari, chin yetim yoki yetim, Mehribonlik uyi tarbiyalanuvchilari, kam taʼminlangan talabalar va hk.) 161-nafar talabalar rektor buyrug‘iga asosan to‘lovdan ozod qilingan.
                    </p>
                    
          

            </div>
        </div>
        <!-- FAQS  News End -->


        </div>
    <!-- Page Content Box END ==== -->

</div>

{% endblock %}