{% extends "base.html" %}

{% block title %}UZFI  | Councils{% endblock %}

{% block content %}

{% load static %}



<div class="page-content">
    <!-- Page Heading Box ==== -->
    <div class="page-banner ovbl-dark" style="background-image:url({% static 'assets/images/councils.jpg' %});">
        <div class="container">
            <div class="page-banner-entry">
                <h1 class="text-white">Councils</h1>
            </div>
        </div>
    </div>

    <!-- Page Heading Box END ==== -->


    <!-- Page Content Box ==== -->
    <div class="content-block">

        <!-- FAQS  News -->
        <div class="section-area section-sp2">
            <div class="container">

                <div class="heading-bx left">
                    <h2 class="m-b10 title-head">Councils <span></span></h2>
                </div>


                <div class="row">


                    {% for i in data %}
                    
                        <div class="col-md-12 councils-item p-3">
                            <a href="/front/councils/{{i.data.id}}/?lang=en">
                                <div class="councils-item-title">
                                    {{i.data.title_en|safe}}
                                </div>
                                <div class="councils-item-date text-secondary">
                                    {{i.data.date_created|safe}}
                                </div>
                            </a>
                        </div>

                    
                    
                    {% endfor %}

                </div>


            </div>
        </div>
        <!-- FAQS  News End -->


        <!-- Our Story ==== -->
        <div class="section-area section-sp1 ">
            <div class="container">

            </div>
        </div>
        <!-- Our Story END ==== -->


    </div>
    <!-- Page Content Box END ==== -->

</div>


{% endblock %}