
{% extends "base.html" %}

{% block title %}UZFI{% endblock %}

{% block content %}

{% load static %}
{% load i18n %}

<div class="page-content bg-white">
  <!-- Main Slider -->
  <div class="rev-slider">
    <div
      id="rev_slider_486_1_wrapper"
      class="rev_slider_wrapper fullwidthbanner-container"
      data-alias="news-gallery36"
      data-source="gallery"
      style="
        margin: 0px auto;
        background-color: #ffffff;
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
      "
    >
      <!-- START REVOLUTION SLIDER 5.3.0.2 fullwidth mode -->
      <div
        id="rev_slider_486_1"
        class="rev_slider fullwidthabanner"
        style="display: none"
        data-version="5.3.0.2"
      >
        <ul>
          <!-- SLIDE  -->
          <li
            data-index="rs-100"
            data-transition="fade"
            data-slotamount="default"
            data-hideafterloop="0"
            data-hideslideonmobile="off"
            data-easein="default"
            data-easeout="default"
            data-masterspeed="default"
            data-thumb="error-404.html"
            data-rotate="0"
            data-fstransition="fade"
            data-fsmasterspeed="1500"
            data-fsslotamount="7"
            data-saveperformance="off"
            data-title="A STUDY ON HAPPINESS"
            data-param1=""
            data-param2=""
            data-param3=""
            data-param4=""
            data-param5=""
            data-param6=""
            data-param7=""
            data-param8=""
            data-param9=""
            data-param10=""
            data-description="Science says that Women are generally happier"
            style="position: relative"
          >

            <video
              playsinline
              autoplay
              muted
              loop
              id="myVideo"
              style="
                position: absolute;
                min-width: 100%;
                min-height: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
              "
            >
              <source
                src="{% static 'assets\bg-videos\mixkit-behind-the-scenes-of-an-ad-for-a-watch-44066-medium.mp4' %}"
                type="video/mp4"
              />
            </video>

            <!-- LAYER NR. 1 -->
            <div
              class="tp-caption tp-shape tp-shapewrapper"
              id="slide-100-layer-1"
              data-x="['center','center','center','center']"
              data-hoffset="['0','0','0','0']"
              data-y="['middle','middle','middle','middle']"
              data-voffset="['0','0','0','0']"
              data-width="full"
              data-height="full"
              data-whitespace="nowrap"
              data-type="shape"
              data-basealign="slide"
              data-responsive_offset="off"
              data-responsive="off"
              data-frames='[{"from":"opacity:0;","speed":1,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"delay":"wait","speed":1,"to":"opacity:0;","ease":"Power4.easeOut"}]'
              data-textAlign="['left','left','left','left']"
              data-paddingtop="[0,0,0,0]"
              data-paddingright="[0,0,0,0]"
              data-paddingbottom="[0,0,0,0]"
              data-paddingleft="[0,0,0,0]"
              style="
                z-index: 5;
                background-color: rgba(2, 0, 11, 0.8);
                border-color: rgba(0, 0, 0, 0);
                border-width: 0px;
              "
            ></div>
            <!-- LAYER NR. 2 -->
            <div
              class="tp-caption Newspaper-Title tp-resizeme"
              id="slide-100-layer-2"
              data-x="['center','center','center','center']"
              data-hoffset="['0','0','0','0']"
              data-y="['top','top','top','top']"
              data-voffset="['250','250','250','240']"
              data-fontsize="['50','50','50','30']"
              data-lineheight="['55','55','55','35']"
              data-width="full"
              data-height="none"
              data-whitespace="normal"
              data-type="text"
              data-responsive_offset="on"
              data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
              data-textAlign="['center','center','center','center']"
              data-paddingtop="[0,0,0,0]"
              data-paddingright="[0,0,0,0]"
              data-paddingbottom="[10,10,10,10]"
              data-paddingleft="[0,0,0,0]"
              style="
                z-index: 6;
                font-family: rubik;
                font-weight: 700;
                text-align: center;
                white-space: normal;
              "
            >
              UZBEKISTAN - FINLAND
            </div>

            <!-- LAYER NR. 3 -->
            <!-- <div class="tp-caption Newspaper-Subtitle   tp-resizeme" id="slide-100-layer-3"
            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
            data-y="['top','top','top','top']" data-voffset="['210','210','210','210']"
            data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
            data-responsive_offset="on"
            data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            style="z-index: 7; white-space: nowrap; color:#fff; font-family:rubik; font-size:18px; font-weight:400;">
            PEDAGOGICAL INSTITUTE OF
          </div> -->

            <!-- LAYER NR. 3 -->
            <div
              class="tp-caption Newspaper-Subtitle tp-resizeme"
              id="slide-100-layer-4"
              data-x="['center','center','center','center']"
              data-hoffset="['0','0','0','0']"
              data-y="['top','top','top','top']"
              data-voffset="['320','320','320','290']"
              data-width="['800','800','700','420']"
              data-height="['100','100','100','120']"
              data-whitespace="unset"
              data-type="text"
              data-responsive_offset="on"
              data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
              data-textAlign="['center','center','center','center']"
              data-paddingtop="[0,0,0,0]"
              data-paddingright="[0,0,0,0]"
              data-paddingbottom="[0,0,0,0]"
              data-paddingleft="[0,0,0,0]"
              style="
                z-index: 7;
                text-transform: capitalize;
                white-space: unset;
                color: #fff;
                font-family: rubik;
                font-size: 18px;
                line-height: 28px;
                font-weight: 400;
              "
            >
              The institute's goal is to develop high-quality pedagogical
              professionals in accordance with Uzbek national
              characteristics.
            </div>
            <!-- LAYER NR. 4 -->
            <div
              class="tp-caption Newspaper-Button rev-btn"
              id="slide-100-layer-5"
              data-x="['center','center','center','center']"
              data-hoffset="['90','80','75','90']"
              data-y="['top','top','top','top']"
              data-voffset="['400','400','400','420']"
              data-width="none"
              data-height="none"
              data-whitespace="nowrap"
              data-type="button"
              data-responsive_offset="on"
              data-responsive="off"
              data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
              data-textAlign="['center','center','center','center']"
              data-paddingtop="[12,12,12,12]"
              data-paddingright="[30,35,35,15]"
              data-paddingbottom="[12,12,12,12]"
              data-paddingleft="[30,35,35,15]"
              style="
                z-index: 8;
                white-space: nowrap;
                outline: none;
                box-shadow: none;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                cursor: pointer;
                background-color: var(--primary) !important;
                border: 0;
                border-radius: 30px;
                margin-right: 5px;
              "
            >
            {% blocktranslate %}  READ MORE {% endblocktranslate %}
            </div>
            <div
              class="tp-caption Newspaper-Button rev-btn"
              id="slide-100-layer-6"
              data-x="['center','center','center','center']"
              data-hoffset="['-90','-80','-75','-90']"
              data-y="['top','top','top','top']"
              data-voffset="['400','400','400','420']"
              data-width="none"
              data-height="none"
              data-whitespace="nowrap"
              data-type="button"
              data-responsive_offset="on"
              data-responsive="off"
              data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
              data-textAlign="['center','center','center','center']"
              data-paddingtop="[12,12,12,12]"
              data-paddingright="[30,35,35,15]"
              data-paddingbottom="[12,12,12,12]"
              data-paddingleft="[30,35,35,15]"
              style="
                z-index: 8;
                white-space: nowrap;
                outline: none;
                box-shadow: none;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                cursor: pointer;
                border-radius: 30px;
              "
            >
              CONTACT US
            </div>
          </li>
          <li
            data-index="rs-200"
            data-transition="fade"
            data-slotamount="default"
            data-hideafterloop="0"
            data-hideslideonmobile="off"
            data-easein="default"
            data-easeout="default"
            data-masterspeed="default"
            data-thumb="{% static 'assets/images/slider/slide1.jpg' %}"
            data-rotate="0"
            data-fstransition="fade"
            data-fsmasterspeed="1500"
            data-fsslotamount="7"
            data-saveperformance="off"
            data-title="A STUDY ON HAPPINESS"
            data-param1=""
            data-param2=""
            data-param3=""
            data-param4=""
            data-param5=""
            data-param6=""
            data-param7=""
            data-param8=""
            data-param9=""
            data-param10=""
            data-description="Science says that Women are generally happier"
          >
            <!-- MAIN IMAGE -->
            <img
              src="{% static 'assets/images/645361781b285.jpg' %}"
              alt=""
              data-bgposition="center center"
              data-bgfit="cover"
              data-bgrepeat="no-repeat"
              data-bgparallax="10"
              class="rev-slidebg"
              data-no-retina
            />

            <!-- LAYER NR. 1 -->
            <div
              class="tp-caption tp-shape tp-shapewrapper"
              id="slide-200-layer-1"
              data-x="['center','center','center','center']"
              data-hoffset="['0','0','0','0']"
              data-y="['middle','middle','middle','middle']"
              data-voffset="['0','0','0','0']"
              data-width="full"
              data-height="full"
              data-whitespace="nowrap"
              data-type="shape"
              data-basealign="slide"
              data-responsive_offset="off"
              data-responsive="off"
              data-frames='[{"from":"opacity:0;","speed":1,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:1;","ease":"Power4.easeOut"}]'
              data-textAlign="['left','left','left','left']"
              data-paddingtop="[0,0,0,0]"
              data-paddingright="[0,0,0,0]"
              data-paddingbottom="[0,0,0,0]"
              data-paddingleft="[0,0,0,0]"
              style="
                z-index: 5;
                background-color: rgba(2, 0, 11, 0.8);
                border-color: rgba(0, 0, 0, 0);
                border-width: 0px;
              "
            ></div>

            <!-- LAYER NR. 2 -->
            <div
              class="tp-caption Newspaper-Title tp-resizeme"
              id="slide-200-layer-2"
              data-x="['center','center','center','center']"
              data-hoffset="['0','0','0','0']"
              data-y="['top','top','top','top']"
              data-voffset="['250','250','250','240']"
              data-fontsize="['50','50','50','30']"
              data-lineheight="['55','55','55','35']"
              data-width="full"
              data-height="none"
              data-whitespace="normal"
              data-type="text"
              data-responsive_offset="on"
              data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
              data-textAlign="['center','center','center','center']"
              data-paddingtop="[0,0,0,0]"
              data-paddingright="[0,0,0,0]"
              data-paddingbottom="[10,10,10,10]"
              data-paddingleft="[0,0,0,0]"
              style="
                z-index: 6;
                font-family: rubik;
                font-weight: 700;
                text-align: center;
                white-space: normal;
                text-transform: uppercase;
              "
            >
              Welcome To University
            </div>

            <!-- LAYER NR. 3 -->
            <div
              class="tp-caption Newspaper-Subtitle tp-resizeme"
              id="slide-200-layer-3"
              data-x="['center','center','center','center']"
              data-hoffset="['0','0','0','0']"
              data-y="['top','top','top','top']"
              data-voffset="['210','210','210','210']"
              data-width="none"
              data-height="none"
              data-whitespace="nowrap"
              data-type="text"
              data-responsive_offset="on"
              data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
              data-textAlign="['left','left','left','left']"
              data-paddingtop="[0,0,0,0]"
              data-paddingright="[0,0,0,0]"
              data-paddingbottom="[0,0,0,0]"
              data-paddingleft="[0,0,0,0]"
              style="
                z-index: 7;
                white-space: nowrap;
                text-transform: uppercase;
                color: #fff;
                font-family: rubik;
                font-size: 18px;
                font-weight: 400;
              "
            >
              Better Education
            </div>

            <!-- LAYER NR. 3 -->
            <div
              class="tp-caption Newspaper-Subtitle tp-resizeme"
              id="slide-200-layer-4"
              data-x="['center','center','center','center']"
              data-hoffset="['0','0','0','0']"
              data-y="['top','top','top','top']"
              data-voffset="['320','320','320','290']"
              data-width="['800','800','700','420']"
              data-height="['100','100','100','120']"
              data-whitespace="unset"
              data-type="text"
              data-responsive_offset="on"
              data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
              data-textAlign="['center','center','center','center']"
              data-paddingtop="[0,0,0,0]"
              data-paddingright="[0,0,0,0]"
              data-paddingbottom="[0,0,0,0]"
              data-paddingleft="[0,0,0,0]"
              style="
                z-index: 7;
                text-transform: capitalize;
                white-space: unset;
                color: #fff;
                font-family: rubik;
                font-size: 18px;
                line-height: 28px;
                font-weight: 400;
              "
            >
              Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's
              standard dummy text ever since the
            </div>
            <!-- LAYER NR. 4 -->
            <div
              class="tp-caption Newspaper-Button rev-btn"
              id="slide-200-layer-5"
              data-x="['center','center','center','center']"
              data-hoffset="['90','80','75','90']"
              data-y="['top','top','top','top']"
              data-voffset="['400','400','400','420']"
              data-width="none"
              data-height="none"
              data-whitespace="nowrap"
              data-type="button"
              data-responsive_offset="on"
              data-responsive="off"
              data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
              data-textAlign="['center','center','center','center']"
              data-paddingtop="[12,12,12,12]"
              data-paddingright="[30,35,35,15]"
              data-paddingbottom="[12,12,12,12]"
              data-paddingleft="[30,35,35,15]"
              style="
                z-index: 8;
                white-space: nowrap;
                outline: none;
                box-shadow: none;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                cursor: pointer;
                background-color: var(--primary) !important;
                border: 0;
                border-radius: 30px;
                margin-right: 5px;
              "
            >
              READ MORE
            </div>
            <div
              class="tp-caption Newspaper-Button rev-btn"
              id="slide-200-layer-6"
              data-x="['center','center','center','center']"
              data-hoffset="['-90','-80','-75','-90']"
              data-y="['top','top','top','top']"
              data-voffset="['400','400','400','420']"
              data-width="none"
              data-height="none"
              data-whitespace="nowrap"
              data-type="button"
              data-responsive_offset="on"
              data-responsive="off"
              data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
              data-textAlign="['center','center','center','center']"
              data-paddingtop="[12,12,12,12]"
              data-paddingright="[30,35,35,15]"
              data-paddingbottom="[12,12,12,12]"
              data-paddingleft="[30,35,35,15]"
              style="
                z-index: 8;
                white-space: nowrap;
                outline: none;
                box-shadow: none;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                cursor: pointer;
                border-radius: 30px;
              "
            >
              CONTACT US
            </div>
          </li>
          <!-- SLIDE  -->
        </ul>
      </div>
      <!-- END REVOLUTION SLIDER -->
    </div>
  </div>

  <!-- Main Slider -->
  <div class="content-block">
    <!--First suggestions -->
    <div class="section-area content-inner service-info-bx">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="service-bx">
              <div class="action-box">
                <img
                  src="{% static 'assets/images/interactive.jpg' %}"
                  alt=""
                />
              </div>
              <div class="info-bx text-center">
                <div class="feature-box-sm radius bg-white">
                  <i class="fa fa-cog text-primary"></i>
                </div>
                <h4>
                  <a href="https://interactive.uzfi.uz/"
                    >Interactive services</a
                  >
                </h4>
                <a
                  href="https://interactive.uzfi.uz/"
                  class="btn radius-xl"
                  >GO</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="service-bx">
              <div class="action-box">
                <img
                  src="{% static 'assets/images/e-library.png' %}"
                  alt=""
                />
              </div>
              <div class="info-bx text-center">
                <div class="feature-box-sm radius bg-white">
                  <i class="fa fa-book text-primary"></i>
                </div>
                <h4><a href="https://library.uzfi.uz/">e-Library</a></h4>
                <a href="https://library.uzfi.uz/" class="btn radius-xl"
                  >View More</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="service-bx m-b0">
              <div class="action-box">
                <img
                  src="{% static 'assets/images/appeal.png' %}"
                  alt=""
                />
              </div>
              <div class="info-bx text-center">
                <div class="feature-box-sm radius bg-white">
                  <i class="fa fa-file-text-o text-primary"></i>
                </div>
                <h4>
                  <a href="https://interactive.uzfi.uz/acceptance"
                    >Appeal to management</a
                  >
                </h4>
                <a
                  href="https://interactive.uzfi.uz/acceptance"
                  class="btn radius-xl"
                  >GO</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--First suggestions END -->

    <!-- #faculties  -->
    <div class="section-area section-sp2 faculties" id="faculties_page">
      <div class="container heading-bx left">
        <h2 class="title-head">Faculties</h2>
        <p>Faculty structure of Uzbekistan-Finland Institute.</p>
      </div>

      <div class="container text-center">
        <div class="row">
          <div class="col-md-6 faculty-item-bg">
            <div
              class="faculty-item-hover my-3 rounded"
              style="
                background: url({%static '/assets/images/courses/pic1.jpg' %});
                background-position: center center;
              "
            >
              <div class="p-5 rounded faculty-item">
                <div class="h5 text-center">
                  Applied Mathematics and Physics
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 faculty-item-bg">
            <div
              class="faculty-item-hover my-3 rounded"
              style="
                background: url({%static '/assets/images/courses/pic2.jpg' %});
                background-position: center center;
              "
            >
              <div class="p-5 rounded faculty-item">
                <div class="h5 text-center">Natural sciences</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 faculty-item-bg">
            <div
              class="faculty-item-hover my-3 rounded"
              style="
                background: url({%static '/assets/images/courses/pic3.jpg' %});
                background-position: center center;
              "
            >
              <div class="p-5 rounded faculty-item">
                <div class="h5 text-center">Art studies</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 faculty-item-bg">
            <div
              class="faculty-item-hover my-3 rounded"
              style="
                background: url({%static '/assets/images/courses/pic4.jpg' %});
                background-position: center center;
              "
            >
              <div class="p-5 rounded faculty-item">
                <div class="h5 text-center">Philology</div>
              </div>
            </div>
          </div>
          <div class="col-md-12 faculty-item-bg">
            <div
              class="faculty-item-hover my-3 rounded"
              style="
                background: url({%static '/assets/images/courses/pic5.jpg' %});
                background-position: center center;
              "
            >
              <div class="p-5 rounded faculty-item">
                <div class="h5 text-center">
                  Physical culture, Sports and Preschool education
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #faculties end  -->

    <!-- Destinations -->
    <div
      id="destinations"
      class="section-area section-sp2 popular-courses-bx"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-12 heading-bx left">
            <h2 class="title-head">
              Destinations <span>of the institute </span>
            </h2>
            <p>
              Explore the rich culture of Uzbekistan and the pristine
              natural beauty of Finland at the Institute, where East and
              West converge to offer an unforgettable educational journey
            </p>
          </div>
        </div>
        <div class="row">
          <div
            class="courses-carousel owl-carousel owl-btn-1 col-12 p-lr0 put-destinations"
          >

          </div>
        </div>
      </div>
    </div>
    <!-- Destinations END -->

    <!-- Slider -->
    <div
      class="section-area section-sp1 ovpr-dark online-cours"
      style="position: relative; overflow: hidden"
    >
      <!-- VIDEO BACKGROUND -->

      <video
        playsinline
        autoplay
        muted
        loop
        id="myVideo"
        style="
          position: absolute;
          min-width: 100%;
          min-height: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
        "
      >
        <source
          src="{% static 'assets\bg-videos\mixkit-behind-the-scenes-of-an-ad-for-a-watch-44066-medium.mp4' %}"
          type="video/mp4"
        />
      </video>

      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center text-white">
            <h2>UZBEK - FINNISH PEDAGOGICAL INSTITUTE</h2>
            <h5>Own Your Feature Learning New Skills</h5>
            <!-- <form class="cours-search">
            <div class="input-group">
              <input type="text" class="form-control"
                placeholder="What do you want to learn today?	">
              <div class="input-group-append">
                <button class="btn" type="submit">Search</button>
              </div>
            </div>
          </form> -->
          </div>
        </div>
        <div class="mw800 m-auto">
          <div class="row">
            <div class="col-md-4 col-sm-6">
              <div class="cours-search-bx m-b30">
                <div class="icon-box">
                  <h3>
                    <i class="ti-pencil-alt"></i
                    ><span class="counter">15</span>
                  </h3>
                </div>
                <span class="cours-search-text">15 Faculties</span>
              </div>
            </div>

            <div class="col-md-4 col-sm-6">
              <div class="cours-search-bx m-b30">
                <div class="icon-box">
                  <h3>
                    <i class="ti-user"></i
                    ><span class="counter">10</span>k
                  </h3>
                </div>
                <span class="cours-search-text"
                  >Over 10 thousand student</span
                >
              </div>
            </div>

            <div class="col-md-4 col-sm-12">
              <div class="cours-search-bx m-b30">
                <div class="icon-box">
                  <h3>
                    <i class="ti-id-badge"></i
                    ><span class="counter">17</span>
                  </h3>
                </div>
                <span class="cours-search-text">17 destinations</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Slider END -->

    <div class="section-area section-sp2">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center heading-bx">
            <h2 class="title-head m-b0">News <span></span></h2>
            <p class="m-b0">Upcoming Events To Feed Brain.</p>
          </div>
        </div>
        <div class="row">
          <div
            class="upcoming-event-carousel owl-carousel owl-btn-center-lr owl-btn-1 col-12 p-lr0 m-b30"
          >
            <div class="item">
              <div class="event-bx">
                <div class="action-box">
                  <img
                    src="{% static 'assets/images/event/pic4.jpg '%}"
                    alt=""
                  />
                </div>
                <div class="info-bx d-flex">
                  <div>
                    <div class="event-time">
                      <div class="event-date">29</div>
                      <div class="event-month">October</div>
                    </div>
                  </div>
                  <div class="event-info">
                    <h4 class="event-title">
                      <a href="#">Education Autumn Tour 2019</a>
                    </h4>
                    <ul class="media-post">
                      <li>
                        <a href="#"
                          ><i class="fa fa-clock-o"></i> 7:00am 8:00am</a
                        >
                      </li>
                      <li>
                        <a href="#"
                          ><i class="fa fa-map-marker"></i> Berlin,
                          Germany</a
                        >
                      </li>
                    </ul>
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the
                      industry's standard dummy text ever since the..
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="event-bx">
                <div class="action-box">
                  <img
                    src="{% static 'assets/images/event/pic3.jpg' %}"
                    alt=""
                  />
                </div>
                <div class="info-bx d-flex">
                  <div>
                    <div class="event-time">
                      <div class="event-date">29</div>
                      <div class="event-month">October</div>
                    </div>
                  </div>
                  <div class="event-info">
                    <h4 class="event-title">
                      <a href="#">Education Autumn Tour 2019</a>
                    </h4>
                    <ul class="media-post">
                      <li>
                        <a href="#"
                          ><i class="fa fa-clock-o"></i> 7:00am 8:00am</a
                        >
                      </li>
                      <li>
                        <a href="#"
                          ><i class="fa fa-map-marker"></i> Berlin,
                          Germany</a
                        >
                      </li>
                    </ul>
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the
                      industry's standard dummy text ever since the..
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="event-bx">
                <div class="action-box">
                  <img
                    src="{% static 'assets/images/event/pic2.jpg' %}"
                    alt=""
                  />
                </div>
                <div class="info-bx d-flex">
                  <div>
                    <div class="event-time">
                      <div class="event-date">29</div>
                      <div class="event-month">October</div>
                    </div>
                  </div>
                  <div class="event-info">
                    <h4 class="event-title">
                      <a href="#">Education Autumn Tour 2019</a>
                    </h4>
                    <ul class="media-post">
                      <li>
                        <a href="#"
                          ><i class="fa fa-clock-o"></i> 7:00am 8:00am</a
                        >
                      </li>
                      <li>
                        <a href="#"
                          ><i class="fa fa-map-marker"></i> Berlin,
                          Germany</a
                        >
                      </li>
                    </ul>
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the
                      industry's standard dummy text ever since the..
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <a href="/news.html" class="btn">View All News</a>
        </div>
      </div>
    </div>

    <!-- Testimonials -->
    <div
      class="section-area section-sp2 bg-fix ovbl-dark"
      style="
        background-image: url({%static 'assets/images/background/sports.jpg' %});
      "
    >
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-white heading-bx left">
            <h2 class="title-head text-uppercase">
              Our achievements <span>in sports</span>
            </h2>
            <p>
              Our pride is rooted in the exceptional achievements of our
              student-athletes who have competed at national and
              international levels, bringing glory to both Uzbekistan and
              Finland. We provide top-notch training and support, enabling
              our athletes to excel in their respective sports.
            </p>
          </div>
        </div>
        <div
          class="testimonial-carousel owl-carousel owl-btn-1 col-12 p-lr0"
        >
          <div class="item">
            <div class="testimonial-bx">
              <div class="testimonial-thumb">
                <img
                  src="https://storage.kun.uz/source/9/Ux-U2ZDN4ZR3YfWH_zguAFk3XJvGKcdK.jpg"
                  alt=""
                />
              </div>
              <div class="testimonial-info">
                <h5 class="name">Peter Packer</h5>
                <p>-Art Director</p>
              </div>
              <div class="testimonial-content">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s,
                  when an unknown printer took a galley of type...
                </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-bx">
              <div class="testimonial-thumb">
                <img
                  src="https://storage.kun.uz/source/9/CIzzV1-ijGPilLtoxWPLgJjVTd010GJC.jpg"
                  alt=""
                />
              </div>
              <div class="testimonial-info">
                <h5 class="name">Peter Packer</h5>
                <p>-Art Director</p>
              </div>
              <div class="testimonial-content">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s,
                  when an unknown printer took a galley of type...
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Testimonials END -->

    <!-- FAQS  News -->
    <div class="section-area section-sp2">
      <div class="container">
        <div class="heading-bx left">
          <h2 class="m-b10 title-head">Asked <span> Questions</span></h2>
        </div>

        <p class="m-b10">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy
          text ever since the 1500s, when an unknown printer took a galley
          of type and scrambled it.
        </p>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy
          text ever since the 1500s, when an unknown printer took a galley
          of type and scrambled it.
        </p>
        <div class="ttr-accordion m-b30 faq-bx" id="accordion1">
          <div class="panel">
            <div class="acod-head">
              <h6 class="acod-title">
                <a
                  data-toggle="collapse"
                  href="#faq1"
                  class="collapsed"
                  data-parent="#faq1"
                >
                  Why won't my payment go through?
                </a>
              </h6>
            </div>
            <div id="faq1" class="acod-body collapse">
              <div class="acod-content">
                Web design aorem apsum dolor sit amet, adipiscing elit,
                sed diam nibh euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat.
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="acod-head">
              <h6 class="acod-title">
                <a
                  data-toggle="collapse"
                  href="#faq2"
                  class="collapsed"
                  data-parent="#faq2"
                >
                  How do I get a refund?</a
                >
              </h6>
            </div>
            <div id="faq2" class="acod-body collapse">
              <div class="acod-content">
                Graphic design aorem apsum dolor sit amet, adipiscing
                elit, sed diam nibh euismod tincidunt ut laoreet dolore
                magna aliquam erat volutpat.
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="acod-head">
              <h6 class="acod-title">
                <a
                  data-toggle="collapse"
                  href="#faq3"
                  class="collapsed"
                  data-parent="#faq3"
                >
                  How do I redeem a coupon?
                </a>
              </h6>
            </div>
            <div id="faq3" class="acod-body collapse">
              <div class="acod-content">
                Developement aorem apsum dolor sit amet, adipiscing elit,
                sed diam nibh euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat.
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="acod-head">
              <h6 class="acod-title">
                <a
                  data-toggle="collapse"
                  href="#faq4"
                  class="collapsed"
                  data-parent="#faq4"
                >
                  Why aren't my courses showing in my account?
                </a>
              </h6>
            </div>
            <div id="faq4" class="acod-body collapse">
              <div class="acod-content">
                Developement aorem apsum dolor sit amet, adipiscing elit,
                sed diam nibh euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat.
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="acod-head">
              <h6 class="acod-title">
                <a
                  data-toggle="collapse"
                  href="#faq5"
                  class="collapsed"
                  data-parent="#faq5"
                >
                  Changing account name
                </a>
              </h6>
            </div>
            <div id="faq5" class="acod-body collapse">
              <div class="acod-content">
                Developement aorem apsum dolor sit amet, adipiscing elit,
                sed diam nibh euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- FAQS  News End -->
  </div>
  <!-- contact area END -->
</div>

{% endblock %}